{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Show Cv
{% endblock %}
{% block content %}
     <div class="edit-profile">
    <h3 class="edit-title">Мои резюме</h3>
    {% for c in data.cl_cvs %}+
        <p>position: {{ c.position }}</p>
        <p>employment: {{ c.cl_employment }}</p>
        <p>time_job: {{ c.cl_time_job }}</p>
        <p>salary: {{ c.salary }}</p>
        <p>type_salary: {{ c.cl_type_salary }}</p>
    {% endfor %}




    <div class="navigation-bar">
                <a class="btn-extra" href="{% url 'client_profile' %}">Назад</a>
                <a href="{% url 'client_edit_cv' %}"  id="add_more"
                    class="btn-extra">Редактировать</a>
    </div>
     </div>
 <style>
 p{
     font-size: 16px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
 }
 .edit-title{
        font-size: 22px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
    }
   .edit-profile {
            height: calc(100vh - 255px);
            overflow: auto;
            width: 100%;
            padding-top: 20px;
            margin-bottom: 20px;
        }
     .navigation-bar{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .btn-extra
   {
        padding: 5px;
        margin-top: 10px;
        background: #213d4d;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s linear;
        border: none;
        font-size: 16px;
        font-weight: normal;
        outline:none;
    }
    .btn-extra:hover
    {
    background-color: #8D7171;
}
 </style>
{% endblock %}