{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Show Skills
{% endblock %}
{% block content %}
    <h3>Навыки</h3>
    {% for s in data.cl_skill %}
        <p>{{ s }}</p>
    {% endfor %}


    <div class="text-center">
        <a class="btn btn-outline-warning m-2" href="{% url 'client_profile' %}">Назад</a>
        <a href="{% url 'client_edit_skills' %}" type="button" id="add_more"
           class="btn btn-outline-primary m-2">"Редактировать"</a>
    </div>
{% endblock %}