{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Client Chat
{% endblock %}

{% block content %}

    <div id="messages" class="panel" style="width: 90%; height: 80%; margin: 0 auto; margin-bottom: 1%; border: 1px solid black; overflow-y: scroll;" onscroll="scroll(this);" >
            <div id="innerMessages">
                {% for message in chat.message_set.all %}
                    {% if message.author != request.user %}
                        <div class="message_block_left">
                            <div class="reply-body">
                                <div class="list-inline" id="{{ message.id }}">
                                        <div class="name_field">{{ message.author.first_name }} {{ message.author.last_name }} </div>
                                    <div class="message_field">{{ message.message|safe }}</div>
                                </div>
                                <div class="date_field"><small>{{ message.pub_date.ctime }}</small></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="message_block_right">
                            <div class="reply-body">
                                <div class="list-inline" id="{{ message.id }}">
                                        <div class="name_field">{{ message.author.first_name }} {{ message.author.last_name }} </div>
                                    <div class="message_field">{{ message.message|safe }}</div>
                                </div>
                                <div class="date_field"><small>{{ message.pub_date.ctime }}</small></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    <div id="message_form">
        <form id="message-form" class="panel panel-body" method="post" >
            {% csrf_token %}
             <input type="text" id="textField" class="form-control" style="width: 80%; height: 10%;" id="message" name="message">
                <button type="submit" class="btn btn-outline-success">Отправить</button>
        </form>
    </div>

<script>
    var auto = false
            function scroll (ths) {
                auto = ths.scrollTop(ths.prop('scrollHeight')) + ths.clientHeight == ths.scrollHeight;
            }
    $('document').ready(function () {
        var objDiv = document.getElementById("messages");
        objDiv.scrollTop = objDiv.scrollHeight;

        setInterval(function(){
            var last_id = $('div.list-inline').last().attr('id');
            $.ajax({
                'url': '/client/chat_update/',
                'data': {'last_id' :last_id},
                success: function (data) {
                    for (let dat in data){
                        let new_mes ='<div class="message_block_left"><div class="reply-body">' +
                                '<div class="list-inline" id="' + data[dat].message_id + '"><div class="name_field">'
                                + data[dat].author_first_name + ' ' +  data[dat].author_last_name +'</div><div class="message_field">'
                                + data[dat].message + '</div></div><div class="date_field"><small>'
                                + data[dat].pub_date + '</small></div></div></div>'
                        if (data[dat].author_id === {{ request.user.id }}){
                           new_mes ='<div class="message_block_right"><div class="reply-body">' +
                                '<div class="list-inline" id="' + data[dat].message_id + '"><div class="name_field">'
                                + data[dat].author_first_name + ' ' +  data[dat].author_last_name +'</div><div class="message_field">'
                                + data[dat].message + '</div></div><div class="date_field"><small>'
                                + data[dat].pub_date + '</small></div></div></div>'
                        }


                        $("#innerMessages").append(new_mes) ;
                        objDiv.scrollTop = objDiv.scrollHeight;
                    }

                }
            })

        }, 5000);



    });

 </script>




{% endblock %}
