<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% load staticfiles %}
    <title>{% block title %}Client{% endblock %} - HR-System</title>
</head>
<body style="font-size: large">

<style>
.messages {
    position: relative;
}
.messages_count{
    top: -8px;
    right: -8px;
    border-radius: 50%;
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    width: 15px;
    height: 15px;
    color: #000000;
    text-align: center;
    background: greenyellow;
}
.messages_notification{
    width:80%;
    height:10%;
    color: black;
    text-align: center;
    background:greenyellow;
    border: 3px #000000 solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius:10px;
    border-radius: 10px;
}
</style>

<div class="p-sm-3 pt-sm-5">
    <nav class="nav fixed-top" style="background-color: #344955">
        <a class="nav-link text-white" href="/">HR-System</a>
        <a class="nav-link text-white" href="#">Задачи</a>
        <a class="nav-link text-white" href="#">Предложение</a>
        <a class="nav-link text-white" href="#">Собеседования</a>
        <a class="nav-link text-white" href="{% url 'contact_with_centre' %}"> <div class="messages"> Связаться с КЦ <div class="messages_count" id="mes_count" hidden="true"> {{ unread_messages }} </div></div></a>
        <a class="nav-link text-white" href="{% url 'client_profile' %}">
            <img src="{{ client_img }}" alt="img" class="rounded-circle" height="64">
            Клиент
        </a>
    </nav>
</div>

<section class="content">
        {% block content %}
        <div id="check_notifications">
        {% if unread_messages != 0 %}
        <div class="messages_notification" id="mes_not">У Вас  {{ unread_messages }}  новых сообщения от карьерного центра </div>
        {% endif %}
        </div>
        {% endblock %}
</section>

<div class="p-sm-3 pt-sm-5">

</div>
<script>

    $('document').ready(function () {
        $('.close').on('click', function () {
            $('#check_notifications').hide();
        });
        console.log('fuf');
        $.ajax({
                'url': '/client/checknotifications/',
                success: function (data) {
                    if (data != 0) {
                        document.getElementById('mes_count').hidden = false;
                        document.getElementById('mes_count').innerHTML =  data;
                    }
                }
            });
        setInterval(function(){
            $.ajax({
                'url': '/client/checknotifications/',
                success: function (data) {
                    if (data != 0) {
                        document.getElementById('mes_count').hidden = false;
                        document.getElementById('mes_count').innerHTML =  data;
                    }
                    else {
                        document.getElementById('mes_count').hidden = true;
                    }
                }
            });
        }, 10000);

    });


    /*var reloadData = function() {
        $('#check_notifications').load(document.URL + '#check_notifications');
        console.log("reload");
    }

    setInterval('reloadData()', 10000)*/

</script>
</body>
</html>