{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Accepted vacancies
{% endblock %}

{% block content %}
    <h2 class="mb-5">Принятые предложения {{ resume.state }}:</h2>
    {% for vacancy in resume.vacancies_accept.all %}
         {% include 'client/includes/vacancy_template.html' %}
    {% endfor %}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="{{ resume.get_absolute_url }}" class="btn btn-secondary">Назад</a>
        </div>
        <!--<div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" id="{ vacancy.slug }}" class="btn btn-success accept">Добавить</button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" id="{ vacancy.slug }}" class="btn btn-danger reject">Отклонить</button>
        </div>-->
    </div>
{% endblock %}