{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    {{vacancy.state}}
{% endblock %}

{% block content %}
 <div class="vacancy-content">
      <div class="vacancy-info">
            <p>{{ vacancy.state }}</p>
            <p>{{ vacancy.salary }}</p>
            <p>{{ vacancy.organization }}</p>
            <p>{{ vacancy.address }}</p>
            <p>{{ vacancy.employment }}</p>
            <p>{{ vacancy.description }}</p>
            <p>{{ vacancy.skills }}</p>
            <p>{{ vacancy.requirements }}</p>
            <p>{{ vacancy.duties }}</p>
            <p>{{ vacancy.conditions }}</p>
      </div>
    <div class="navigation-bar">
        {% if resume_for_waiting %}
                <a href="{{ resume_for_waiting.get.get_absolute_url }}" class="btn-extra">Назад</a>
        {% elif resume_for_accepted %}
                <a href="{{ resume_for_accepted.get.get_accept_url }}" class="btn-extra">Назад</a>
        {% elif resume_for_rejected %}
                <a href="{{ resume_for_rejected.get.get_reject_url }}" class="btn-extra">Назад</a>
        {% else %}
                <a onclick="javascript:history.back(); return false;" class="btn-extra">Назад</a>
        {% endif %}
        <button type="button" id="{{ vacancy.id }}" hidden class=" btn-extra accept first">Принять</button>
        <button type="button" id="{{ vacancy.id }}" class="btn-extra reject second">Отклонить</button>
</div>

</div>
<script>
$('document').ready(function () {
    var first = {{ first_flag }}
    var second = {{ second_flag }}
    if (first){$('.first').attr('hidden',false)}
    if (second){$('.second').attr('hidden',false)}


    /*actions for buttons*/
    $('.accept').on('click',function () {
        var id = $(this).attr('id');
        $.ajax({'url':'/client/accept_reject/',
                'data':{'flag':'accept',"id_v":id},
                success:function (data) {
                    console.log(data);
                    $('.first').attr('hidden', true)
                    $('.second').attr('hidden', false)
                }})

    });
    $('.reject').on('click',function () {
        var id = $(this).attr('id');
        $.ajax({'url':'/client/accept_reject/',
                'data':{'flag':'reject','id_v':id},
                success:function (data) {
                    console.log(data)
                    $('.first').attr('hidden', false)
                    $('.second').attr('hidden', true)
                }})

    });
})

    </script>


    <style>
    .vacancy-content{
            height: calc(100vh - 255px);
            overflow: auto;
            width: 100%;
            padding-top: 20px;
            margin-bottom: 20px;
        }

    .vacancy-info{
        text-align: start;
        height: auto;
    }
    </style>
{% endblock %}

