{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Client Profile
{% endblock %}

{% block content %}

    <div class="col-md-8">
        <h3>Hello Client Profile</h3>
        <p>
            <a href="{% url 'client_edit' %}" class="btn btn-outline-primary">Редактировать</a>

            <img src="{{ client_img }}" alt="img" class="m-sm-1" height="64">


            <a href="{% url 'client' %}" class="btn btn-outline-danger">X</a>
        </p>
        <div>
            <div>
                <h3>inf</h3>


                <h2>CLient</h2>

                {{ data.user_model.first_name}}
                {{ data.user_model.last_name}}
                {{ data.client.patronymic }}
                <p>

                {{ data.client.family_state }},
                {{ data.client.children }} дети
                <p>
                <a>Место жительства:</a>

                {{ data.client.city }},
                {{ data.client.street }},
                {{ data.client.house }},
                {{ data.client.flat }}

                <p>
                <a> Телефон:</a>
                {% for e in data.cl_phone %}
                        {{ forloop.counter }} {{ e.telephone_number }}

                {% endfor %}

                <p>
                <a> Email: <a>
                    {{ data.user_model.email}}


                <p>
                <a> Telegram: <a>
                    {{ data.client.telegram_link }}
                  <p>
                <a> Linkedin: <a>
                    {{ data.client.link_linkedin }}
            </div>

            <div>
                <h3>Образование</h3>
                {% for e in data.cl_edu_profile %}
                    <p>
                        {{ forloop.counter }} {{ e.institution }} -
                        {{ e.qualification }}
                    </p>
                {% endfor %}
            <a href="{% url 'client_edit_education' %}"
               class="list-group-item list-group-item-action list-group-item-info">
                    Подробнее </a>
            </div>
            <div>
                <h3>Опыт работы</h3>
                {% for e in data.cl_exp_profile %}
                    <p>
                        {{ forloop.counter }} {{ e.start_date }} -
                        {{ e.end_date }} - {{ e.position }} - {{ e.name }}
                    </p>
                {% endfor %}
            <a href="{% url 'client_edit_experience' %}"
               class="list-group-item list-group-item-action list-group-item-info">
                    Подробнее </a>
            </div>
            <div>
                <h3>Навыки</h3>
                {% for e in data.cl_skill_profile %}
                    <p>
                        {{ forloop.counter }} {{ e.skill }}

                    </p>
                {% endfor %}
                 <a href="{% url 'client_edit_skills' %}"
                    class="list-group-item list-group-item-action list-group-item-info">
                    Подробнее </a>
            </div>

            <div>
                <h3>Мои резюме</h3>
                {% for e in data.cl_cvs_profile %}
                    <p>
                        {{ forloop.counter }} {{ e.position }}

                    </p>
                {% endfor %}
            <a href="{% url 'client_edit_cv' %}"
               class="list-group-item list-group-item-action list-group-item-info">
                    Подробнее </a>
            </div>
        </div>

    </div>

{% endblock %}