{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    {{resume.position}}
{% endblock %}

{% block content %}
    <div class="edit-profile edit-title">{{ resume.position }}
        {% for vacancy in resume.vacancies_in_waiting.all %}
            {% include 'client/includes/vacancy_template.html' %}
        {% endfor %}
        <div class="navigation-bar">
                    <a class="btn-extra" href="{% url 'resumes_list_url' %}">Назад</a>
                    <a class="btn-extra" href="{{ resume.get_accept_url }}">Принятые предложения</a>
                    <a class="btn-extra" href="{{ resume.get_reject_url }}">Отклоненные предложения</a>
        </div>
    </div>

 <style>

 .edit-profile {
            height: calc(100vh - 255px);
            overflow: auto;
            width: 100%;
            padding-top: 20px;
            margin-bottom: 20px;
        }
 .edit-title{
        font-size: 22px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
    }
 .navigation-bar{
        margin-top: 10px;
        margin-bottom: 20px;
    }
 .btn-extra{
        padding: 5px;
        margin-top: 10px;
        background: #213d4d;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s linear;
        border: none;
        font-size: 16px;
        font-weight: normal;
        outline:none;
    }
    .btn-extra:hover{
    background-color: #8D7171;
}
 </style>
{% endblock %}