{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    {{resume.position}}
{% endblock %}

{% block content %}
    <h2 class="mb-5">{{ resume.position }}</h2>
    {% for vacancy in resume.vacancies_in_waiting.all %}
        {% include 'client/includes/vacancy_template.html' %}
    {% endfor %}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="{% url 'resumes_list_url' %}" class="btn btn-secondary">Назад</a>
      </div>
     <div class="btn-group mr-2" role="group" aria-label="Second group">
        <a href="{{ resume.get_accept_url }}"  class="btn btn-success">Принятые предложения</a>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <a  href="{{ resume.get_reject_url }}" class="btn btn-danger">Отклоненные предложения</a>
      </div>
    </div>
{% endblock %}