{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Client Profile
{% endblock %}

{% block content %}
    <table align="center">
        <tr>

            <td>
                <div class="col-md-8">
                    <h3>Моя карточка</h3>
                    <p>
                        <a href="{% url 'client_edit' %}" class="btn btn-outline-primary">Редактировать</a>
            </td>
            <td><img src="{{ client_img }}" alt="img" class="m-sm-1" height="120"></td>


            <td><h2>

                {{ data.user_model.first_name }}
                {{ data.user_model.last_name }}
                {{ data.client.patronymic }}</h2>
                <p>
                    {{ data.age }}(лет/года),
                    {{ data.client.family_state }},
                    {{ data.client.children }} дети
                <p>
                    <a>Место жительства:</a>

                    {{ data.client.city }},
                    {{ data.client.street }},
                    {{ data.client.house }},
                    {{ data.client.flat }}

                <p>
                    <a> Телефон:</a>
                    {% for e in data.cl_phone %}
                        {{ forloop.counter }} {{ e.telephone_number }}

                    {% endfor %}

                <p>
                    <a> Email: </a>
                    {{ data.user_model.email }}


                <p>
                    <a> Telegram: </a>
                    {{ data.client.telegram_link }}
                <p>
                    Linkedin:
                    {{ data.client.link_linkedin }}</p></td>

            <td><a href="{% url 'client' %}" class="btn btn-outline-danger">X</a></td>
            </div>  </tr>


        <tr>
            <div>
                <td><h3>Образование</h3>
                    {% for e in data.cl_edu_profile %}
                        <p>
                            {{ forloop.counter }} {{ e.institution }} -
                            {{ e.qualification }}
                        </p>
                    {% endfor %}
                    <a href="{% url 'show_education' %}"
                       class="list-group-item list-group-item-action list-group-item-info">
                        Подробнее </a></td>
            </div>

            <div>
                <td><h3>Опыт работы</h3>
                    {% for e in data.cl_exp_profile %}
                        <p>
                            {{ forloop.counter }} {{ e.start_date }} -
                            {{ e.end_date }} - {{ e.position }} - {{ e.name }}
                        </p>
                    {% endfor %}
                    <a href="{% url 'show_experience' %}"
                       class="list-group-item list-group-item-action list-group-item-info">
                        Подробнее </a></td>

            </div>
            <div>
                <td><h3>Навыки</h3>
                    {% for e in data.cl_skill_profile %}
                        <p>
                            {{ forloop.counter }} {{ e.skill }}

                        </p>
                    {% endfor %}
                    <a href="{% url 'show_skills' %}"
                       class="list-group-item list-group-item-action list-group-item-info">
                        Подробнее </a></td>
            </div>

            <div>
                <td><h3>Мои резюме</h3>
                    {% for e in data.cl_cvs_profile %}
                        <p>
                            {{ forloop.counter }} {{ e.position }}

                        </p>
                    {% endfor %}
                    <a href="{% url 'show_cv' %}"
                       class="list-group-item list-group-item-action list-group-item-info">Подробнее </a></td>
            </div>
    </table>
    </div>

    </div>

{% endblock %}