
{% extends 'client/client_main_page.html' %}
{% load staticfiles %}

{% block title %}
    Client Chat
{% endblock %}

{% block content %}

    <div id="messages" class="panel" style="width: 80%; height: 400px; border: 1px solid black; overflow-y: scroll;" onscroll="scroll(this);">
            <div id="innerMessages">
                {% for message in chat.message_set.all %}
                    {% include 'client/client_message.html' with message_item=message %}
                {% endfor %}
            </div>
        </div>
    <div id="message_form">
        <form id="message-form" class="panel panel-body" method="post" >
            {% csrf_token %}
             <input type="text" id="textField" class="form-control" style="width: 80%; height: 10%;" id="message" name="message">
            {# <input type="submit"  value="Отправить" formmethod="post" class="btn btn-outline-success"> #}
                <button type="submit" class="btn btn-outline-success">Отправить</button>
        </form>
    </div>

<script>

    $('document').ready(function () {
        var auto = false
        function scroll (ths) {
            auto = ths.scrollTop(ths.prop('scrollHeight')) + ths.clientHeight == ths.scrollHeight;
        }
        console.log('fuf');
        $.ajax({
                'url': '/client/checknotifications/',
                success: function (data) {
                    if (data[0] != 0) {
                        document.getElementById('mes_count').hidden = false;
                        document.getElementById('mes_count').innerHTML =  data[0];
                    }
                    else {
                        document.getElementById('mes_count').hidden = true;
                    }
                    if (data[1] != 0) {
                        document.getElementById('task_count').hidden = false;
                        document.getElementById('task_count').innerHTML =  data[1];
                    }
                    else {
                        document.getElementById('task_count').hidden = true;
                    }
                }
            });
        setInterval(function(){
            $.ajax({
                'url': '/client/checknotifications/',
                success: function (data) {
                    if (data[0] != 0) {
                        document.getElementById('mes_count').hidden = false;
                        document.getElementById('mes_count').innerHTML =  data[0];
                    }
                    else {
                        document.getElementById('mes_count').hidden = true;
                    }
                    if (data[1] != 0) {
                        document.getElementById('task_count').hidden = false;
                        document.getElementById('task_count').innerHTML =  data[1];
                    }
                    else {
                        document.getElementById('task_count').hidden = true;
                    }
                }
            });
        }, 10000);


});

 </script>



{% endblock %}