{% extends 'client/main_template_client.html' %}

{% block title %}
    Edit education
{% endblock %}

{% block content %}

    <!-- JS добавления однотипных форм. ONLY FOR THIS CUSTOM FORM -->
    <script type="text/javascript">
        $(document).ready(function () {
            var count = 1;
            var cert_count = 1;
            var origin = $("#origin_div").clone();
            var cert_origin = $("#cert_origin").clone();

            $("#add_more").on("click", function () {
                var add = origin.clone();
                var current_div = add.children('div');

                for (var i = 0; i < 8; i++) {
                    // 8 inputs
                    var element = $(current_div[i]).children('input');
                    var attr_name = $(element).attr('name');
                    $(element).attr('name', attr_name + count);
                    {##}
                    {#if (i === 6) {  // img#}
                    {#    var element_img = $(current_div[i]).children('div').children('div').children('input');#}
                    {#    console.log(element_img);#}
                    {#    var attr_name_i = $(element_img).attr('name');#}
                    {#    console.log(attr_name_i);#}
                    {#    $(element_img).attr('name', attr_name_i + count);}#}
                    {#if (i === 7) {  // url#}
                    {#    var element_url = $(current_div[i]).children('div').children('div').children('input');#}
                    {#    console.log(element_img);#}
                    {#    var attr_name_u = $(element_url).attr('name');#}
                    {#    console.log(attr_name_u);#}
                    {#    $(element_url).attr('name', attr_name_u + count);}#}
                    {##}
                }
                count++;
                // Изменяет вложенный текст
                var text = add.children('#edu_h');
                console.log(text);
                $(text).attr('innerText', text.text('Образование ' + count));

                add.appendTo("#div_to_add_new");
            });
            {##}
            {#$("#add_more_cert").on("click", function () {#}
            {#    var add = cert_origin.clone();#}
            {#    var current_div = add.children('div');#}
            {##}
            {#    for (var i = 0; i < 2; i++) {#}
            {#        // 2 inputs#}
            {#        var element = $(current_div[i]).children('input');#}
            {#        var attr_name = $(element).attr('name');#}
            {#        $(element).attr('name', attr_name + cert_count);#}
            {#    }#}
            {#    cert_count++;#}
            {#    // Изменяет вложенный текст#}
            {#    var text = add.children('#cert_h');#}
            {#    console.log(text);#}
            {#    $(text).attr('innerText', text.text('Сертификат ' + cert_count));#}
            {#    add.appendTo("#cert_to_add");});#}
            {##}
        });
    </script>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if not data.cl_edu %}
            <div id="div_to_add_new">
                <div id="origin_div">

                    <h3 id="edu_h">Образование</h3>

                    <div class="form-group">
                        <label for="id_institution">Учебное заведение</label>
                        <input type="text" class="form-control" id="id_institution" name="institution">
                    </div>
                    <div class="form-group">
                        <label for="id_subject_area">Предметная область</label>
                        <input type="text" class="form-control" id="id_subject_area" name="subject_area">
                    </div>
                    <div class="form-group">
                        <label for="id_specialization">Специальность</label>
                        <input type="text" class="form-control" id="id_specialization" name="specialization">
                    </div>
                    <div class="form-group">
                        <label for="id_qualification">Квалификация</label>
                        <input type="text" class="form-control" id="id_qualification" name="qualification">
                    </div>
                    <p>Период обучения:</p>
                    <div class="form-group">
                        <label for="id_date_start">Дата начала</label>
                        <input type="date" class="form-control" id="id_date_start" name="date_start">
                    </div>
                    <div class="form-group">
                        <label for="id_date_end">Дата окончания</label>
                        <input type="date" class="form-control" id="id_date_end" name="date_end">
                    </div>

{#                    <div id="cert_to_add">#}
{#                        <h3 id="cert_h">Сертификаты</h3>#}
{#                        <div id="cert_origin">#}
                            <div class="form-group">
                                <label for="id_certificate_img">Сертификат (img)</label>
                                <input type="file" class="form-control" id="id_certificate_img" name="certificate_img">
                            </div>

                            <div class="form-group">
                                <label for="id_certificate_url">Сертификат (ссылка)</label>
                                <input type="url" class="form-control" id="id_certificate_url" name="certificate_url">
                            </div>
{#                        </div>#}
                        <!-- копироваться будет сюда -->
{#                    </div>#}
{#                    <input type="button" value="Добавить сертификат" id="add_more_cert"#}
{#                           class="btn btn-outline-primary m-2">#}

                </div>
            </div>

        {% else %}
            {% for edu in data.cl_edu %}

                <div id="div_to_add_new">
                    <div id="origin_div">

                        <h3 id="edu_h">Образование</h3>

                        <div class="form-group">
                            <label for="id_institution">Учебное заведение</label>
                            <input type="text" class="form-control" id="id_institution" name="institution"
                                   value="{{ edu.institution }}">
                        </div>
                        <div class="form-group">
                            <label for="id_subject_area">Предметная область</label>
                            <input type="text" class="form-control" id="id_subject_area" name="subject_area"
                                   value="{{ edu.subject_area }}">
                        </div>
                        <div class="form-group">
                            <label for="id_specialization">Специальность</label>
                            <input type="text" class="form-control" id="id_specialization" name="specialization"
                                   value="{{ edu.specialization }}">
                        </div>
                        <div class="form-group">
                            <label for="id_qualification">Квалификация</label>
                            <input type="text" class="form-control" id="id_qualification" name="qualification"
                                   value="{{ edu.qualification }}">
                        </div>
                        <p>Период обучения:</p>
                        <div class="form-group">
                            <label for="id_date_start">Дата начала</label>
                            <input type="date" class="form-control" id="id_date_start" name="date_start"
                                   value="{{ edu.date_start|date:"Y-d-m" }}">
                        </div>
                        <div class="form-group">
                            <label for="id_date_end">Дата окончания</label>
                            <input type="date" class="form-control" id="id_date_end" name="date_end"
                                   value="{{ edu.date_end|date:"Y-d-m" }}">
                        </div>

{#                        <div id="cert_to_add">#}
{#                            <h3 id="cert_h">Сертификаты</h3>#}
{#                            <div id="cert_origin">#}
                                <div class="form-group">
                                    <label for="id_certificate_img">Сертификат (img)</label>
                                    <img src="{{ edu.certs_img }}" alt="img" class="m-2" height="64">
                                    <input type="file" class="form-control" id="id_certificate_img"
                                           name="certificate_img"
                                           value="{{ edu.certs_img }}">
                                </div>

                                <div class="form-group">
                                    <label for="id_certificate_url">Сертификат (ссылка)</label>
                                    <input type="url" class="form-control" id="id_certificate_url"
                                           name="certificate_url"
                                           value="{{ edu.certs_url }}">
                                </div>
{#                            </div>#}
                            <!-- копироваться будет сюда -->
{#                        </div>#}
{#                        <input type="button" value="Добавить сертификат" id="add_more_cert"#}
{#                               class="btn btn-outline-primary m-2">#}
                    </div>
                </div>

            {% endfor %}
        {% endif %}

        <div class="text-center">
            <a class="btn btn-outline-warning m-2" href="{% url 'client_edit' %}">Назад</a>
            <button type="submit" class="btn btn-outline-success m-2" id="save">Соранить все данные</button>
            <input type="button" value="Добавить образование" id="add_more" class="btn btn-outline-primary m-2">
        </div>

    </form>

{% endblock %}

