{% extends 'client/main_template_client.html' %}
{% load staticfiles %}


    {% block title %}Настройки{% endblock %}


{% block content %}
    <article class="main">
    <div class="wrapper">
        <div class="right_block">
            <h3 class="HeadLine">Уведомления на почту</h3>

            <ul>
                <li>
                    <section class="container">
                    <p class="paragraph ">О новых сообщениях</p>
                    <label class="switch First">
                            {% if settings.email_messages == False %}
                                <input class="activation" id="email_messages" type="checkbox">
                                <span class="slider round"></span>
                            {% else %}
                                <input class="activation" id="email_messages" type="checkbox" checked>
                                <span class="slider round"></span>
                            {% endif %}
                    </label>
                        </section>

                </li>
                <li>
                    <section class="container">
                    <p class="paragraph ">О новых задачах</p>
                    <label class="switch Second">
                        {% if settings.email_tasks == False %}
                            <input class="activation" type="checkbox" id="email_tasks">
                            <span class="slider round"></span>
                        {% else %}
                            <input class="activation" type="checkbox" id="email_tasks" checked>
                            <span class="slider round"></span>
                         {% endif %}
                    </label>
                        </section>

                </li>
                <li>

                    <section class="container">
                    <p class="paragraph Third">О новых предложениях</p>
                    <label class="switch">
                        {% if settings.email_suggestions == False %}
                            <input class="activation" type="checkbox" id="email_suggestions">
                            <span class="slider round"></span>
                        {% else %}
                            <input class="activation" type="checkbox" id="email_suggestions" checked>
                            <span class="slider round"></span>
                        {% endif %}
                          </label>
                        </section>

                </li>
                <li>
                    <section class="container">
                    <p class="paragraph ">О новых встречах</p>
                    <label class="switch Fourth">
                        {% if settings.email_meetings == False %}
                            <input class="activation" type="checkbox" id="email_meetings">
                            <span class="slider round"></span>
                        {% else %}
                            <input class="activation" type="checkbox" id="email_meetings" checked>
                            <span class="slider round"></span>
                        {% endif %}
                    </label>
                        </section>

                </li>
                <li>
                    <section class="container">
                        <p class="paragraph ">О новых ответах на отзывы</p>
                        <label class="switch Fourth" style="">
                            {% if settings.email_reviews == False %}
                                <input class="activation" type="checkbox" id="email_reviews">
                                <span class="slider round"></span>
                            {% else %}
                                <input class="activation" type="checkbox" id="email_reviews" checked>
                                <span class="slider round"></span>
                            {% endif %}
                        </label>
                    </section>

                </li>
            </ul>
        </div>

        <div class="left_block">
            <h3 class="HeadLine">Всплывающие уведомления</h3>

            <ul>
                <li>
                    <section class="container">
                    <p class="paragraph ">О новых сообщениях</p>
                    <label class="switch First">
                            {% if settings.messages == False %}
                                <input class="activation" id="messages" type="checkbox">
                                <span class="slider round"></span>
                            {% else %}
                                <input class="activation" id="messages" type="checkbox" checked>
                                <span class="slider round"></span>
                            {% endif %}
                    </label>
                        </section>

                </li>
                <li>
                    <section class="container">
                    <p class="paragraph ">О новых задачах</p>
                    <label class="switch Second">
                        {% if settings.tasks == False %}
                            <input class="activation" type="checkbox" id="tasks">
                            <span class="slider round"></span>
                        {% else %}
                            <input class="activation" type="checkbox" id="tasks" checked>
                            <span class="slider round"></span>
                         {% endif %}
                    </label>
                        </section>

                </li>
                <li>

                    <section class="container">
                    <p class="paragraph Third">О новых предложениях</p>
                    <label class="switch">
                        {% if settings.suggestions == False %}
                            <input class="activation" type="checkbox" id="suggestions">
                            <span class="slider round"></span>
                        {% else %}
                            <input class="activation" type="checkbox" id="suggestions" checked>
                            <span class="slider round"></span>
                        {% endif %}
                          </label>
                        </section>

                </li>
                <li>
                    <section class="container">
                    <p class="paragraph ">О новых встречах</p>
                    <label class="switch Fourth" style="">
                        {% if settings.meetings == False %}
                            <input class="activation" type="checkbox" id="meetings">
                            <span class="slider round"></span>
                        {% else %}
                            <input class="activation" type="checkbox" id="meetings" checked>
                            <span class="slider round"></span>
                        {% endif %}
                          </label>
                        </section>

                </li>
                <li>
                        <section class="container">
                        <p class="paragraph ">О новых ответах на отзывы</p>
                        <label class="switch Fourth" style="">
                            {% if settings.reviews == False %}
                                <input class="activation" type="checkbox" id="reviews">
                                <span class="slider round"></span>
                            {% else %}
                                <input class="activation" type="checkbox" id="reviews" checked>
                                <span class="slider round"></span>
                            {% endif %}
                              </label>
                            </section>

                </li>
            </ul>
        </div>


    </div>
    </article>

    <script type="text/javascript">
        $('document').ready(function () {
            $('.activation').on('click', function () {
                let set = this.id;
                let stat = false;
                if (this.checked){
                     stat = true

                }

                $.ajax({
                    'url': '/client/settingsset/',
                    'data': {'setting': set, 'state': stat},
                    success: function (data) {
                        console.log('ata')
                    }
                });
            })
        });

    </script>
{% endblock %}
