{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Help
{% endblock %}

{% block content %}
    <div class="content">
        <div class="p-sm-3 pt-sm-5">
            <nav class="nav fixed-center" style="background-color: #344955; width: 100%; margin: 0 auto; max-width: 900px; display: flex; justify-content: space-between; align-items: center;">
                <a class="nav-link text-white offset-md-3"><h3>Часто задаваемые вопросы</h3><a class="offset-md-3"><a href="{% url 'client' %}" class="btn btn-secondary">X</a></a></a>
                <div class="mt-3">
                    {% for faq in faqs %}
                        <div class="nav-link text-white">
                            <h5>Вопрос: {{ faq.question }}<br></h5>
                            <p>Ответ: {{ faq.answer }}</p>
                        </div>
                    {% endfor %}
                </div>
            </nav>
        </div>
     </div>
{% endblock %}