{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Help
{% endblock %}

{% block content %}

    <div class="faq-content edit-title">Часто задаваемые вопросы
    <a class="btn-faq" href="{% url 'client' %}" >X</a>
    {% if not faqs %}
        <h1> На данный момент этот раздел пуст</h1>
    {% endif %}
    {% for faq in faqs %}
        <div class="faq-single">
            <h4 class="faq-question">Вопрос: {{ faq.question }}<br></h4>
            <p class="faq-answer">Ответ: {{ faq.answer }}</p>
            </div>
    {% endfor %}
    </div>

    <style>
   .faq-single{
      margin: 0 auto;
       width: 80%;
       height: auto;
        border: 1px solid black;
       text-align: start;
       border-radius: 5px;
   }

    .faq-question{
        margin: 0 0 10px;
        background: rgba(141, 113, 113, 0.44);
    }

    .faq-answer{
        margin: 0 0 10px;
    }

    .btn-faq{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #213d4d;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s linear;
        border: none;
        font-size: 18px;
        font-weight: normal;
        outline:none;
        z-index: 100;

    }
    .btn-faq:hover{
    background-color: #8D7171;
}
    .faq-content{

        position: relative;
        padding: 20px;
        height: calc(100vh - 280px);
        overflow: auto;

    }
     .edit-title{
        font-size: 22px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
    }
    </style>
{% endblock %}