<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>



    <link rel="stylesheet" href="/static/client/style/main_style.css">


    {% load staticfiles %}

    <title>{% block title %}Client{% endblock %} - HR-System</title>
</head>
<body>
<div class="inbody" >
        <header class="header-bar">
                                <a class="logo" href="{% url 'client' %}" style="text-decoration: none; padding-left: 40px ">
                                    <div class="name" style="margin: auto; text-align: center">
                                        <img src="https://static.wixstatic.com/media/3e33b4_be193070b72743e2a0194222634bd2bf~mv2.png/v1/fill/w_79,h_71,al_c,q_80,usm_0.66_1.00_0.01/31-512.png" style="width: 50px; height: 50px"  >
                                        <div class="hr-sys">HR-System</div>
                                        <div class="version">Сборка: 1.0</div>
                                    </div>
                                </a>

                                <a class="text-bar" href="{% url 'tasks_list' %}" > Задачи <div class="counter" id="task_count" hidden="true"> {{ readtask }}</div></a>
                                <a class="text-bar" href="{% url 'resumes_list_url' %}" id="clearnotif"> Предложения <div class="counter" id="sug_count" hidden="true">{{ unread_suggestions }}</div></a>
                                <a class="text-bar" href="{% url 'interviews_list_url' %}"> Собеседования <div class="counter" id="mee_count" hidden="true"> {{ readinterview }} </div></a>
                                <a class="text-bar" href="{% url 'contact_with_centre' %}"> Связаться с КЦ <div class="counter" id="mes_count" hidden="true"> {{ unread_messages }} </div></a>
                                <div class="client-bar">
                                    <a class="text-client" href="{% url 'client_profile' %}" >
                                        <img src="{{ client_img|default:'/media/user_1.png' }}"  height="75px" style="border-radius: 50%;" alt=""></a>

                                    <div class="client-name-out" >
                                        <h4 style="margin-bottom: 5px">Клиент</h4>
                                        <a class="logout" href="{% url 'logout' %}" >Выйти</a>
                                    </div>
                                </div>
        </header>

        <section class="content" >
         <!--TeamRome-->
        {% block content %}
        <div style="/*height: 90%; overflow-y: scroll*/">
        <img src="https://static.wixstatic.com/media/3e33b4_8434f559fcaa44a39ecfd54bf197fba5~mv2.png/v1/fill/w_750,h_350,al_c,q_80,usm_0.66_1.00_0.01/tild6162-3961-4262-b966-316166666133__lo.png" alt="">
            {%if settings.tasks %}
                {%if readtask != 0 %}
                    <div class="notification" id="task_notification"><h2>Новые задачи: {{ readtask }}</h2>
                    <span class="close" id="close_task"></span></div>
                {% endif %}
            {% endif %}
            <div id="check_notifications">
            {%if settings.messages %}
                {% if unread_messages %}
                    <div class="notification" id="mes_notification"><h2>Новые сообщения: {{ unread_messages }}</h2>
                    <span class="close" id="close_mes"></span></div>
                {% endif %}
            {% endif %}
            </div>
            {%if settings.suggestions %}
                {% if unread_suggestions %}
                    <div class="notification" id="sug_notification"><h2>Новые предложения: {{ unread_suggestions }}</h2>
                    <span class="close" id="close_sug"></span></div>
                {% endif %}
            {% endif %}
            {%if settings.meetings == True %}
                {% if readinterview != 0 %}
                    <div class="notification" id="mee_notification"><a href="{% url 'interviews_list_url' %}"
                    style="text-decoration: none; color: #fff"><h2>Новые собеседования: {{ readinterview }}</h2></a>
                    <span class="close" id="close_mee"></span></div>
                {% endif %}
            {% endif %}
            </div>
        {% endblock %}

        </section>

        <div class="footer-bar">
                 <a class="text-footer" href="{% url 'help_list_url' %}">Помощь</a>
                 <a class="text-footer" href="{% url 'settings_menu' %}">Настройки</a>
                 <a class="text-footer" href="{% url 'opinion_create' %}">Оставить отзыв</a>
        </div>
    </div>


</body>
<script>
    $('document').ready(function () {
        $('#close_task').on('click', function () {
            $('#task_notification').hide()
        });
        $('#close_mes').on('click', function () {
            $('#mes_notification').hide();
        });
        $('#close_sug').on('click', function () {
            $('#sug_notification').hide();
        });
        $('#close_mee').on('click', function () {
            $('#mee_notification').hide();
        });
        console.log('fuf');
        $.ajax({
            'url': '/client/checknotifications/',
            success: function (data) {
                if (data[0] != 0) {
                    document.getElementById('mes_count').hidden = false;
                    document.getElementById('mes_count').innerHTML = data[0];
                } else {
                    document.getElementById('mes_count').hidden = true;
                }
                if (data[1] != 0) {
                    document.getElementById('task_count').hidden = false;
                    document.getElementById('task_count').innerHTML = data[1];
                } else {
                    document.getElementById('task_count').hidden = true;
                }
                if (data[2] != 0) {
                    document.getElementById('sug_count').hidden = false;
                    document.getElementById('sug_count').innerHTML = data[2];
                } else {
                    document.getElementById('sug_count').hidden = true;
                }
                if (data[3] != 0) {
                    document.getElementById('mee_count').hidden = false;
                    document.getElementById('mee_count').innerHTML =  data[3];
                } else {
                    document.getElementById('mee_count').hidden = true;
                }
            }
        });
        setInterval(function () {
            $.ajax({
                'url': '/client/checknotifications/',
                success: function (data) {
                    if (data[0] != 0) {
                        document.getElementById('mes_count').hidden = false;
                        document.getElementById('mes_count').innerHTML = data[0];
                    } else {
                        document.getElementById('mes_count').hidden = true;
                    }
                    if (data[1] != 0) {
                        document.getElementById('task_count').hidden = false;
                        document.getElementById('task_count').innerHTML = data[1];
                    } else {
                        document.getElementById('task_count').hidden = true;
                    }
                    if (data[2] != 0) {
                        document.getElementById('sug_count').hidden = false;
                        document.getElementById('sug_count').innerHTML = data[2];
                    } else {
                        document.getElementById('sug_count').hidden = true;
                    }
                    if (data[3] != 0) {
                        document.getElementById('mee_count').hidden = false;
                        document.getElementById('mee_count').innerHTML =  data[3];
                    }
                    else {
                        document.getElementById('mee_count').hidden = true;
                    }
                }
            });
        }, 10000);
        /*actions for buttons*/
        $('#clearnotif').on('click', function () {
            $.ajax({
                'url': '/client/viewed/',
                'data': {'action': 'clear'},
                success: function (data) {
                    console.log(data);
                }
            })
        });
        $('#clearnotif1').on('click', function () {
            $.ajax({
                'url': '/client/viewed/',
                'data': {'action': 'clear'},
                success: function (data) {
                    console.log(data);
                }
            })
        });
    });
</script>
</html>
