{% extends 'client/client_main_page.html' %}
{% load staticfiles %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    <h2 class="offset-md-1"><u>Всплывающие уведомления</u><a class="offset-md-2"><a href="{% url 'client' %}" class="btn btn-secondary">X</a></a></h2>
    <div class="mt-5">
        <div class="row">
            <div class="col-4 offset-md-1">
                {% for setting in settings %}
                <h4>{{ setting.name_setting }}<a class="offset-md-2"></a>{{ setting.tumbler_on_off }}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success accept" id="on" disabled>Вкл</button>
                        <button type="button" class="btn btn-danger reject" id="off" disabled>Выкл</button>
                    </div><br>
                </h4>
                {% endfor %}
            </div>
        </div>
    </div>

<script>

$('document').ready(function () {
    var on_off = {{ status }}
        console.log(on_off);
    if (on_off){$('#off').attr('disabled', false)}
    else {$('#on').attr('disabled', false)}

    /*actions for buttons*/
    $('#off').on('click',function () {
        $.ajax({'url':'/client/on_off/',
                'data':{'status': 'off'},
                success:function (data) {
                    console.log(data);
                    $('#off').attr('disable', true)
                    $('#on').attr('disable', false)
                    location.reload(true);
                }})

    });
    $('#on').on('click',function () {
        $.ajax({'url':'/client/on_off/',
                'data':{'status': 'on'},
                success:function (data) {
                    console.log(data)
                    $('#off').attr('disable', false)
                    $('#on').attr('disable', true)
                    location.reload(true);
                }})
    });
})

</script>
{% endblock %}