{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title%} Задачи {% endblock %}


{% block content %}
    <style>
        .tasks{
            width: 100%;
            background: url("../../static/client/img/cobalt.png") no-repeat;
            max-width: 1200px;
            min-height: 600px;
            border-radius: 20px;
            margin: 0 auto;
            overflow: auto;
            position: relative;

        }
    h3{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 50px;
        line-height: 50px;
        box-shadow: 0 0 10px rgba(84,97,127,0.5);
        margin: 0;
        color: white;
        background: #213D4D;
        text-align: center;

    }
    #show{
        margin-left: 20px;
        background: #213D4D;
        color: #ffffff;
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all .3s linear;
    }

    #show:hover{
        background: #8D7171;
    }

    .active{
        margin-top: 15px;
        height: auto;
    }

    .donetasks{
        font-size: 13px;
        text-decoration: line-through;
        font-weight: normal;
        padding-left: 20px;
    }

    .style-task{
        width: 100%;
        max-width: 1180px;
        background: #fffffd;
        height: 40px;
        margin: 0 auto ;
        line-height: 38px;
        border-radius: 5px;
        cursor: pointer;
        padding-left: 10px;
    }

    .fortask{
        height: 40px;
        border: none;
        outline: none;
        background: #fffffd;
        padding: 0;
        width: 100%;
        max-width: 1140px;
        cursor: pointer;
        text-align: left;
        float: right;
        border-radius: 5px;
    }

    input[type='checkbox']{
        width: 20px;
        height: 40px;
        margin: 0;
    }

    .subs{
            position: absolute;
            display: none;
            top: 50px;
            right: 0;
            width: 400px;
            background-color: white;
            height: calc(100% - 70px);
            transition: display .3s linear;
            z-index: 100;
            padding: 10px;
    }

    .subs--active{
        display: block;

    }

    .subs-style{
        display: flex;
        flex-direction: column;
    }

    .single-subs{
        display: inherit;
        height: 40px;
        line-height: 40px;
         padding-left: 10px;
    }

    .single-subs--done{
        text-decoration: line-through;
    }

    .tas-comment{
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
    }
     .subs--active label{
        padding-left: 10px;
    }
     p{
         margin: 0;
         padding: 0;
     }
    .tas-time{
        padding-left: 10px;
        border-bottom: 1px solid #e8e6e6;
        height: 40px;
        line-height: 40px;
        display: inherit;
    }

    .tas-time:first-child{
        font-size: 16px;
        font-weight: bold;
    }
    .check_tas{
        margin-right: 10px !important;

    }
    .sub-close{
        width: 20px;
        height:20px;
        text-align: center;
        line-height: 20px;
        background-color: #213D4D;
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: background-color .2s linear;
        border-radius: 3px;
    }

    .sub-close:hover{
                background: #8D7171;
            }


    </style>

<div class="tasks">

    <h3>Задачи</h3>
    <div class="active">
        {% for tas in task %}
            <div hidden>{{ tas.check_readstatus }}</div>
            <div class="style-task">
                <input class="check_tas" id="check_tas{{ tas.id }}" type="checkbox">
                <button class="fortask " id="idfortas{{ tas.id }}">({{ tas.time.time }}) {{ tas.title }}</button>
            </div>
            <div class="subs" id="forsubtask{{ tas.id }}" >
                <div class="subs-style">
                    <p class="tas-time"><input class="check_tas" id="check_tas{{ tas.id }}" type="checkbox">({{ tas.time.time }}) {{ tas.title }}</p>
                    <p class="tas-time">Срок: {{ tas.time.date }}</p>
                {% for sub in tas.show_all %}
                    {% if sub.status == True %}
                        <div class="single-subs">
                            <input class="check_sub" id="check_sub{{ sub.id }}" type="checkbox">
                            <label for="check_sub{{ sub.id }}">{{ sub.title }}</label>
                        </div>
                    {% else %}
                        <div class="single-subs single-subs--done">
                        <input class="check_sub" id="check_sub{{ sub.id }}" type="checkbox" checked>
                        <label for="check_sub{{ sub.id }}">{{ sub.title }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
                    <p class="tas-comment">{{ tas.comment }}</p>
                    <div class="sub-close" id="forsubtask{{ tas.id }}">x</div>
                </div>
            </div>
            <br>

        {% endfor %}
    </div>
    <button id="show">Показать заверешенные задачи</button>
    <div class="hide_task" hidden>
        {% for tas in task_false %}
        <div id="task_checktime" hidden>{{ tas.checktime }}</div>
            {% if tas.checkstatus != False %}
                <div class="style-task">
                    <input class="check_tas" id="check_tas{{ tas.id }}" type="checkbox" checked>
                    <button class="fortask" id="idfortas{{ tas.id }}">{{ tas.title }} </button>
                </div>
                <div id="forsubtask{{ tas.id }}" hidden>
                    {% for sub in tas.show_all %}
                        <input class="chech_sub" id="check_sub{{ sub.id }}" type="checkbox" checked>
                        {{ sub.title }}
                    {% endfor %}
                </div>
            {% endif %}

        {% if tas.checkstatus == False %}
            <div class="style-task">
                <h4 class="donetasks">{{tas.title}}</h4>
            </div>
            {% for sub in task.show_all %}
                {{ sub.title }}
            {% endfor %}
         {% endif %}
        {% endfor %}

    </div>
</div>
<script type="text/javascript">

$('document').ready(function () {
    $('.content').css('text-align', 'inherit')
    $('#show_done').on('click', function () {
        console.log(4444)
        done_tasks=$('.done_tasks')
        if (done_tasks.is(':hidden')){
            done_tasks.show()
        }
        else {
            done_tasks.hide()
        }

    });

    $('#show').on('click', function () {
        $('.hide_task').toggle()
    });

    $('.fortask').on('click', function () {
        var id = 'forsubtask' + $(this).attr('id').slice(8);
        var elem = $('#' + id);
        elem.toggleClass('subs--active');
    });

    $('.sub-close').on('click', function () {
        var id = 'forsubtask' + $(this).attr('id').slice(10);
        console.log(id)
        var elem = $('#' + id);
        elem.removeClass('subs--active');
    });


    $('.check_tas').on('click', function () {

            var id = $(this).attr('id').slice(9);

            $.ajax({
                'url': '/client/checktask/',
                'data': {'id': id},
                success: function (data) {
                    console.log(data)
                }
            });


        })

    $('.check_sub').on('click', function () {
        let sub_id = $(this).prop('id').slice(9);
        let parent_task = $(this).parent().parent().parent().prop('id').slice(10);
        $.ajax({
                'url': '/client/check_subtask/',
                'data': {'sub_id': sub_id,
                        'task_id': parent_task},
                success: function (data) {
                    console.log(data)
                }
        });


    });

});
</script>
{% endblock %}
