<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="active">
    {% for tas in task %}
        <button class="fortask" id="idfortas{{ tas.id }}">{{ tas.title }}</button><br><hr>
        <div id="forsubtask{{ tas.id }}" hidden>
            {% for sub in tas.show_all %}
                {{ sub.title }}<hr>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
</div>
<button id="show">Показать заверешенные задачи</button>
<div class="close" hidden >
    {% for task in task_false %}
        {{task.title}}

        {% for sub in task.show_all %}
            {{ sub.title }}
        {% endfor %}
        <hr>
    {% endfor %}
    <button class="hide">Скрыть</button>
</div>

<script>
$('document').ready(function () {
    $('#show').on('click', function () {
        $('.close').show()
    });
    $(".close .hide").click(function(){
        $(this).parents(".close").hide();
    });
    $('.fortask').on('click', function () {
        var id = 'forsubtask' + $(this).attr('id').slice(8);
        var elem = $('#' + id);
        if(elem.is(":visible")){
            elem.hide();
        } else {
            elem.show();
        }


    })

});
</script>
</body>
</html>