{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

    {% block title%} Задачи {% endblock %}


{% block content %}
<div class="active">
    {% for tas in task %}
        <div hidden>{{ tas.check_readstatus }}</div>
        <input class="check_tas" id="check_tas{{ tas.id }}" type="checkbox"><button class="fortask" id="idfortas{{ tas.id }}">{{ tas.title }}</button><br><hr>
        <div id="forsubtask{{ tas.id }}" hidden>

            {% for sub in tas.show_all %}
                <input class="chech_sub" id="check_sub{{ sut.id }}" type="checkbox">{{ sub.title }}<hr>
            {% endfor %}
        </div>
        <hr>

    {% endfor %}
</div>
<button id="show">Показать заверешенные задачи</button>
<div class="close" hidden >
    {% for tas in task_false %}
    <div hidden>{{ tas.checktime }}</div>
        {% if tas.checkstatus != False %}
            <input class="check_tas" id="check_tas{{ tas.id }}" type="checkbox"><button class="fortask" id="idfortas{{ tas.id }}">{{ tas.title }}</button><br><hr>
            <div id="forsubtask{{ tas.id }}" hidden>

                {% for sub in tas.show_all %}
                    <input class="chech_sub" id="check_sub{{ sub.id }}" type="checkbox">{{ sub.title }}<hr>
                {% endfor %}
            </div>
            <hr>
        {% endif %}

    {% if tas.checkstatus == False %}
        {{tas.title}}
        {% for sub in task.show_all %}
            {{ sub.title }}
        {% endfor %}
     {% endif %}
        <hr>
    {% endfor %}


    <button class="hide">Скрыть</button>
</div>

<script type="text/javascript">
$('document').ready(function () {
    $('#show').on('click', function () {
        $('.close').show()
        console.log(1)

    });
    $(".close .hide").click(function(){
        $(this).parents(".close").hide();
        console.log(2)
    });
    $('.fortask').on('click', function () {
        var id = 'forsubtask' + $(this).attr('id').slice(8);
        var elem = $('#' + id);
        if(elem.is(":visible")){
            elem.hide();
        } else {
            elem.show();
        }
        console.log(3)


    });
    $('.check_tas').on('click', function () {

            var id = $(this).attr('id').slice(9);

            $.ajax({
                'url': '/client/checktask/',
                'data': {'id': id},
                success: function (data) {
                    console.log(data)
                }
            });


        })

});
</script>
{% endblock %}
