body{
    background: #adc6f8;
    font-family: Sans-Serif;
}

.inbody{
    max-width: 100%;
    background: white;
    width: 150ch;
    min-width: 50%;
    margin: 0 auto;
    height: 98vh;
    border-radius: 8px;
    position: relative;
}

.header-bar{
    background-color: #e8e6e6;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;


}

.logo{
      display: inline-flex;
      flex-direction:row;
      flex-wrap: nowrap;
  }

.hr-sys{
    font-family: Sans-Serif;
    font-size: 16px;
    color:#292929;
    font-weight: bold;

}

.version{
    font-family: Sans-Serif;
    font-size: 12px;
    color:#292929;
}

.text-bar{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background: #213D4D;
    width: 140px;
    height: 60px ;
    line-height: 60px;
    border-radius: 8px;
    text-align: center;
    transition: background .3s linear;
    position: relative;
}

.text-bar:hover{
    text-decoration: none;
    color: white;
    background: #8D7171;

}

    .counter{
        top: -8px;
        right: -8px;
        border-radius: 50%;
        font-size: 12px;
        position: absolute;
        font-weight: bold;
        width: 18px;
        height: 18px;
        line-height: 18px;
        color: white;
        text-align: center;
        background: #fe6060;
        border: 0.5px solid black;
        z-index: 10;
    }

.client-bar{
   display: inline-flex;
   flex-direction: row;
   align-items: center;
   width: 200px;
   padding-right: 40px;
}

.client-name-out{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logout{
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius:5px;
    color: white;
    background: #213D4D;
    text-align: center;
    transition: background .3s linear;
    text-decoration: none;
}

.logout:hover{
    text-decoration: none;
    color: white;
    background: #8D7171;
}

.content{
    height: calc(100vh - 240px);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 150ch;
}

.content img{
    margin: auto;
    display: block;
}

.notification{
        width: 90%;
        height: 50px;
        background: #fe6060;
        text-align: center;
        border-radius: 15px;
        margin: 20px auto;
        position: relative;
        color: white;
        line-height: 50px;
}

.close {
      position: absolute;
      right: 4px;
      top: 7px;
      width: 10px;
      height: 10px;
      opacity: 0.3;
}

.close:hover {
      opacity: 1;
}

.close:before, .close:after {
      position: absolute;
      left: 0px;
      content: ' ';
      height: 10px;
      width: 2px;
      background-color: #333;
}

.close:before {
      transform: rotate(45deg);
}

.close:after {
      transform: rotate(-45deg);
}

.footer-bar{
    background-color: #e8e6e6;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
    bottom: 0;

}

.text-footer{
    margin:0 80px ;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background: #213D4D;
    width: 130px;
    height: 50px ;
    line-height: 50px;
    border-radius: 8px;
    text-align: center;
    transition: background .3s linear;
    text-decoration: none;
}

.text-footer:hover{
    text-decoration: none;
    color: white;
    background: #8D7171;
}

ul{
    list-style-type: circle;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: green;
  }


  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .container{
      display: flex;
      /* justify-content: center; */
      align-items: center;

  }

  .main{
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:90%;

  }

  .paragraph{
      padding-right:50px;
  }

  .HeadLine{
      text-decoration: underline;
  }
  .container__buttons{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:auto;
      margin-top:50px;
      background-color: lightgray;
      width: 800px;
      height: 80px;
  }

  .buttons{
      border:none;
      border-radius: 5px;
      width: 100px;
      color:white;
      background-color: grey;
      height: 40px;
  }

  .help{
    background-color: darkblue;
      margin-left:15px;
  }

  .review{
      margin-right: 15px;
      background-color: darkblue;
  }



  .message_block_left {
      width: fit-content;
      margin: 0.25% 0.25% auto 2%;
      background: rgba(0, 176, 255, 0.1);
      color: #000000;
      padding: 10px;
      border-radius: 15px;
  }
  .message_block_right {
      width: fit-content;
      margin: 0.25% 0.25% 2% auto;
      background: rgba(0, 176, 255, 0.1);
      color: #000000;
      padding: 10px;
      border-radius: 15px;
  }
  .name_field {
      font-size: larger;
      justify-content: left;
      margin-left: 1%;
      text-align: left;
  }
  .message_field {
      margin-left: 1%;
      text-align: left;
  }
  .date_field {
      font-size: small;
      text-align: right;
      margin-right: 1%;
  }

div.wrapper{
  width: 100%;
}
div.left_block{
  float:left;
  width: 45%;
}
div.right_block{
  float: right;
  width: 45%;
}
li{
    list-style-type: none;
}
 .notification:hover{
     background: #00a5fe;
 }
