{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Edit CV
{% endblock %}

{% block content %}
    {# <!-- JS добавления однотипных форм. ONLY FOR THIS CUSTOM FORM -->#}
    <script type="text/javascript">
        $(document).ready(function () {
            var count = 1;
            var origin = $("#origin_div").clone();

            $("#add_more").on("click", add_cv);
            $("#id_position").on("click", data_l);

            function add_cv() {
                var add = origin.clone();
                var current_div = add.children('div');

                for (var i = 0; i < 6; i++) {
                    var element;
                    var attr_name;
                    {#// Because custom form! Can be optimised!#}
                    switch (i) {
                        case 0: // input #1
                            element = $(current_div[i]).children('input').on("click", data_l);
                            attr_name = $(element).attr('name');
                            $(element).attr('value', '');
                            $(element).text('');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 1: // select #1
                            element = $(current_div[i]).children('select');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 2: // select #2
                            element = $(current_div[i]).children('select');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 3: // select #3
                            element = $(current_div[i]).children('select');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 4: // input #4
                            element = $(current_div[i]).children('input');
                            attr_name = $(element).attr('name');
                            $(element).attr('value', '');
                            $(element).text('');
                            $(element).attr('name', attr_name + count);
                            break;
                        case 5: // select #5
                            element = $(current_div[i]).children('select');
                            attr_name = $(element).attr('name');
                            $(element).attr('name', attr_name + count);
                            break;
                    }
                }
                count++;
                // Изменяет вложенный текст
                var text = add.children("#cv_h");
                console.log("cv_h text:", text);
                $(text).attr('innerText', text.text('Резюме ' + count));

                add.appendTo("#div_to_add_new");
            }

            function data_l() {
                var us_in = $(this).val();
                console.log("us_in:", us_in);
                $.ajax({
                    'url': "{% url 'cv_position_data_list' %}",
                    'data': {'us_in': us_in},
                    success: function (data) {
                        var json_data = jQuery.parseJSON(data);
                        console.log(json_data.words);
                        $.each(json_data.words, function (i, item) {
                            $("#data_list").append($("<option>").attr('value', item).text(item));
                        });
                    }
                });
            }
        });
    </script>

    <div class="edit-profile">
        <form method="post">
            {% csrf_token %}
            <div id="div_to_add_new" class="login-form edit-title edu">
                {% for cv in data.cl_cvs %}
                    <div id="origin_div">
                        <h3 id="cv_h">Резюме {{ forloop.counter }}</h3>
                        <div class="form-group">
                            <label for="id_position">Должность</label>
                            <input type="text" class="form-control" id="id_position"
                                   name="position{{ forloop.counter }}"
                                   value="{{ cv.position|default:'' }}" list="data_list">
                            <datalist id="data_list">
                                <option id="dl_option" value=""></option>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label for="id_direction">Направление</label>
                            <select class="form-control" id="id_direction"
                                    name="direction{{ forloop.counter }}">
                                {% if not cv.direction_id %}
                                    <option selected></option>
                                {% endif %}
                                {% for d in data.direction %}
                                    <option {% if cv.direction_id == d.id %}selected{% endif %}
                                            value="{{ d.id }}">{{ d }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_employment">Занятость</label>
                            <select class="form-control" id="id_employment"
                                    name="employment{{ forloop.counter }}">
                                {% if not cv.employment_id %}
                                    <option selected></option>
                                {% endif %}
                                {% for emp in data.employment %}
                                    <option {% if cv.employment_id == emp.id %}selected{% endif %}
                                            value="{{ emp.id }}">{{ emp }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_time_job">График работы</label>
                            <select class="form-control" id="id_time_job"
                                    name="time_job{{ forloop.counter }}">
                                {% if not cv.time_job_id %}
                                    <option selected></option>
                                {% endif %}
                                {% for tj in data.time_job %}
                                    <option {% if cv.time_job_id == tj.id %}selected{% endif %}
                                            value="{{ tj.id }}">{{ tj }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <h5 class="edit-title">Уровень заработной платы</h5>
                        <div class="form-group">
                            <label for="id_salary">Сумма</label>
                            <input type="text" class="form-control" id="id_salary"
                                   name="salary{{ forloop.counter }}"
                                   value="{{ cv.salary|default:'' }}">
                        </div>
                        <div class="form-group">
                            <label for="id_type_salary">Валюта</label>
                            <select class="form-control" id="id_type_salary"
                                    name="type_salary{{ forloop.counter }}">
                                {% if not cv.type_salary_id %}
                                    <option selected></option>
                                {% endif %}
                                {% for ts in data.type_salary %}
                                    <option {% if cv.type_salary_id == ts.id %}selected{% endif %}
                                            value="{{ ts.id }}">{{ ts }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% empty %}
                    {% include 'client/edit_forms/cv_empty.html' %}
                {% endfor %}
            </div>
            <div class="navigation-bar">
                <a class="btn-extra" href="{% url 'client_edit' %}">Назад</a>
                <button type="submit" class="btn-extra" id="save">Сохранить все данные</button>
                <input type="button" value="Добавить резюме" id="add_more" class="btn-extra">
            </div>
        </form>
    </div>
    <style>
    .edit-title{
        font-size: 22px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
    }
    .login-form {
            margin: 0 70px 40px;
            float: left;
            width: 50%;
        }
 .edu{
        margin: auto;
        float: none}
.form-group {
            margin-top: 15px;
            clear: both;
            text-align: right;
        }
 label{
            float: left;
            padding-right: 20px;
            color: #414141;
            font-size: 20px;
            font-family: open sans, sans-serif;
            font-weight: bold;
        }
 input{
        width: 298px;
        height: 28px;
        padding: 0;
        border: 1px solid black;
    }
select{
    width: 300px;
    height: 28px;
    padding: 0;
        border: 1px solid black;
}
     .edit-profile {
            height: calc(100vh - 255px);
            overflow: auto;
            width: 100%;
            padding-top: 20px;
            margin-bottom: 20px;
        }
    .navigation-bar{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .btn-extra
   {
        padding: 5px;
        margin-top: 10px;
        background: #213d4d;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s linear;
        border: none;
        font-size: 16px;
        font-weight: normal;
        outline:none;
    }
    .btn-extra:hover
    {
    background-color: #8D7171;
}
    </style>
{% endblock %}
