{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Edit Skills
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            var origin = $("#id_skill").clone();
            var count = 1;
            var skill_input = $('#id_skill_input');
            $("#add_more").on("click", add);
            $(skill_input).on("click", data_list);

            function add() {
                {# JS добавления однотипных форм #}
                var add = origin.clone();
                count += 1;
                add.attr('value', $(skill_input).val());
                add.appendTo("#div_to_add_new");
                $(skill_input).attr('value', '');
                $(skill_input).text('');
            }

            function data_list() {
                {# load datalist with ajax from back-end #}
                var us_in = $(this).val();
                console.log(us_in);
                $.ajax({
                    'url': "{% url 'skills_data_list' %}",
                    'data': {'us_in': us_in},
                    success: function (data) {
                        var json_data = jQuery.parseJSON(data);
                        {#console.log(json_data.words);#}
                        $.each(json_data.words, function (i, item) {
                            $("#data_list").append($("<option>").attr('value', item).text(item));
                        });
                    }
                });
            }

        });
    </script>
    <div class="edit-profile">
        <form method="post" id="origin_form">
            {% csrf_token %}
            <div class="login-form edit-title edu">Навыки
                <div id="div_to_add_new" class="skills">
                    {% for s in data.cl_skill %}
                        <input type="text" class="form-control inp-skl" id="id_skill"
                               name="skill" value="{{ s }}" readonly>
                    {% empty %}
                        <input type="text" class="form-control inp-skl" id="id_skill"
                               name="skill" value="" readonly>
                    {% endfor %}
                </div>

                <input type="text" class="form-control inp-skl" id="id_skill_input" list="data_list">
                <datalist id="data_list">
                    <option id="dl_option"></option>
                </datalist>

            </div>
            <div class="navigation-bar">
                <a class="btn-extra" href="{% url 'client_edit' %}">Назад</a>
                <button type="submit" class="btn-extra" id="save">Сохранить все данные</button>
                <input type="button" value="Добавить навык" id="add_more" class="btn-extra">
            </div>
        </form>
    </div>

   <style>
    .edit-profile {
            height: calc(100vh - 255px);
            overflow: auto;
            width: 100%;
            padding-top: 20px;
            margin-bottom: 20px;
        }
   .navigation-bar{
        margin-top: 10px;
        margin-bottom: 20px;
    }
   .btn-extra{
       width: auto;
        padding: 5px;
        margin-top: 10px;
        background: #213d4d;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s linear;
        border: none;
        font-size: 16px;
        font-weight: normal;
        outline:none;
    }
    .btn-extra:hover{
    background-color: #8D7171;
}
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .inp-skl{
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        width: 198px;
        height: 28px;
        padding: 0;
        border: 1px solid black;
    }
   .login-form {
            margin: 0 70px 40px;
            float: left;
            width: 50%;
        }
    .edu{
        margin: auto;
        float: none}

    .edit-title{
        font-size: 22px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
    }
   </style>
{% endblock %}