{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
    <!-- JS добавления однотипных форм -->
    <script type="text/javascript">
        $(document).ready(function () {
            var origin = $("#origin_div").clone();
            var count = 0;
            $("#add_more").on("click", function () {
                var add = origin.clone();
                add.children('input').attr('value', '+');
                count += 1;
                //inp.attr('name', inp.attr('name') + count);
                add.attr("id", "new_div");
                add.appendTo("#div_to_add_new");
            });
        });
    </script>

    <div class="row">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}

                <h3>Общая информация</h3>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Имя:</span>
                    </div>
                    <input type="text" aria-label="First name" class="form-control" name="client_first_name"
                           value="{{ data.cl_name }}" required
                           pattern="^[a-zA-Zа-яА-Я0-9'-]{1,100}[ ]?[a-zA-Zа-яА-Я0-9'-]{0,100}$">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Фамилия:</span>
                    </div>
                    <input type="text" aria-label="Last name" class="form-control" name="client_last_name"
                           value="{{ data.cl_last_name }}" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Отчество:</span>
                    </div>
                    <input type="text" aria-label="Middle name" class="form-control" name="client_middle_name"
                           value="{{ data.cl_patronymic }}" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_sex">Пол:</label>
                    </div>

                    <select class="custom-select" id="id_sex" name="sex">
                        <option selected value="{{ data.cl_sex }}">{{ data.cl_sex }}</option>
                        {% for s in data.sex %}
                            <option value="{{ s }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="id_date_born">Дата рождения</label>
                    <input type="date" class="form-control" id="id_date_born" name="date_born"
                           value="{{ data.cl_date_born|date:"Y-d-m" }}">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_citizenship">Гражданство:</label>
                    </div>
                    <select class="custom-select" id="id_citizenship" name="citizenship">
                        <option selected value="{{ data.cl_citizenship }}">{{ data.cl_citizenship }}</option>
                        {% for c in data.citizenship %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_family_state">Семейное положение:</label>
                    </div>
                    <select class="custom-select" id="id_family_state" name="family_state">
                        <option selected value="{{ data.cl_family_state }}">{{ data.cl_family_state }}</option>
                        {% for fs in data.family_state %}
                            <option value="{{ fs }}">{{ fs }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_children">Дети:</label>
                    </div>
                    <select class="custom-select" id="id_children" name="children">
                        <option selected value="{{ data.cl_children }}">{{ data.cl_children }}</option>
                        {% for ch in data.children %}
                            <option value="{{ ch }}">{{ ch }}</option>
                        {% endfor %}
                    </select>
                </div>

                <h3>Адрес проживания</h3>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_country">Страна:</label>
                    </div>
                    <select class="custom-select" id="id_country" name="country">
                        <option selected value="{{ data.cl_country }}">{{ data.cl_country }}</option>
                        {% for ct in data.country %}
                            <option value="{{ ct }}">{{ ct }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_city">Город:</label>
                    </div>
                    <select class="custom-select" id="id_city" name="city">
                        <option selected value="{{ data.cl_city }}">{{ data.cl_city }}</option>
                        {% for ci in data.city %}
                            <option value="{{ ci }}">{{ ci }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Улица:</span>
                    </div>
                    <input type="text" aria-label="First name" class="form-control" name="street"
                           value="{{ data.cl_street }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Дом:</span>
                    </div>
                    <input type="text" aria-label="House" class="form-control" name="house"
                           value="{{ data.cl_house }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Квартира:</span>
                    </div>
                    <input type="text" aria-label="Flat" class="form-control" name="flat"
                           value="{{ data.cl_flat }}">
                </div>

                <h3>Контакты</h3>

                <div class="mb-3">
                    <div id="div_to_add_new">
                        <h5 id="tel_h">Телефоны</h5>
                        {% for t in data.cl_phone %}
                            <div class="form-group" id="origin_div">
                                <input type="tel" class="form-control" id="id_phone" aria-describedby="small_phone"
                                       value="{{ t }}" name="phone">
                                <small class="form-text text-muted" id="small_phone">
                                    +375291234567 (код страны + код оператора + номер)
                                </small>
                            </div>
                        {% empty %}
                            <div class="form-group" id="origin_div">
                                <input type="tel" class="form-control" id="id_phone" aria-describedby="small_phone"
                                       value="+" name="phone">
                                <small class="form-text text-muted" id="small_phone">
                                    +375291234567 (код страны + код оператора + номер)
                                </small>
                            </div>
                        {% endfor %}
                    </div>
                    <input type="button" value="Добавить" id="add_more"
                           class="btn btn-outline-primary">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Telegram:</span>
                    </div>
                    <input type="text" aria-label="Telegram" class="form-control" name="telegram_link"
                           value="{{ data.cl_telegram }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Skype:</span>
                    </div>
                    <input type="text" aria-label="Skype" class="form-control" name="skype_id"
                           value="{{ data.cl_skype }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">E-mail:</span>
                    </div>
                    <input type="email" aria-label="E-mail" class="form-control" name="email"
                           value="{{ data.cl_email }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Linkedin:</span>
                    </div>
                    <input type="url" aria-label="Linkedin" class="form-control" name="link_linkedin"
                           value="{{ data.cl_linkedin }}">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="id_state">Статус:</label>
                    </div>
                    <select class="custom-select" id="id_state" name="state">
                        <option selected value="{{ data.cl_state }}">{{ data.cl_state }}</option>
                        {% for st in data.state %}
                            <option value="{{ st }}">{{ st }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="text-center">
                    <a class="btn btn-outline-warning m-2" href="{% url 'client_profile' %}">Назад</a>
                    <button type="submit" class="btn btn-outline-success m-2">Сохранить</button>
                </div>

            </form>
        </div>

        <div class="col-md-4">
            <h3>Дополнительно:</h3>

            <div class="list-group">
                <a href="{% url 'client_edit_education' %}" id="edit_education"
                   class="list-group-item list-group-item-action list-group-item-primary">
                    Образование +</a>
                <a href="{% url 'client_edit_skills' %}" id="edit_skills"
                   class="list-group-item list-group-item-action list-group-item-secondary">
                    Навыки +</a>
                <a href="{% url 'client_edit_experience' %}" id="edit_experience"
                   class="list-group-item list-group-item-action list-group-item-warning">
                    Опыт работы +</a>
                <a href="{% url 'client_edit_cv' %}" id="edit_cv"
                   class="list-group-item list-group-item-action list-group-item-info">
                    Резюме +</a>
                <a href="{% url 'client_edit_photo' %}" id="edit_photo"
                   class="list-group-item list-group-item-action list-group-item-danger">
                    Фото +</a>
            </div>
        </div>
    </div>

{% endblock %}