{% extends 'client/main_template_client.html' %}
{% load staticfiles %}

{% block title %}
    Edit Experience
{% endblock %}

{% block content %}
    <!-- JS добавления однотипных форм. ONLY FOR THIS CUSTOM FORM -->
    <script type="text/javascript">
        $(document).ready(function () {
            var count = 1;
            var origin = $("#origin_div").clone();

            $("#add_more").on("click", function () {
                var add = origin.clone();
                var current_div = add.children('div');

                for (var i = 0; i < 6; i++) {
                    if (i === 1) {  // 1 select
                        var element_select = $(current_div).children('select');
                        console.log(element_select);
                        var attr_name_s = $(element_select).attr('name');
                        console.log(attr_name_s);
                        $(element_select).attr('name', attr_name_s + count);
                    } else {    // 5 inputs
                        var element_input = $(current_div[i]).children('input');
                        console.log(element_input);
                        var attr_name_i = $(element_input).attr('name');
                        $(element_input).attr('value', '');
                        console.log(attr_name_i);
                        $(element_input).attr('name', attr_name_i + count);
                    }
                }
                count++;
                {#// Изменяет вложенный текст#}
                var text = add.children('#id_exp_h');
                $(text).attr('innerText', text.text('Опыт работы ' + count));

                add.appendTo("#div_to_add_new");
            });
        });
    </script>
    <div class="edit-profile">
        <form method="post">
            {% csrf_token %}
            <div id="div_to_add_new" class="login-form edit-title edu">
                {% for exp in data.cl_exp %}
                    <div id="origin_div">
                        <h3 id="id_exp_h">Опыт работы {{ forloop.counter }}</h3>
                        <div class="form-group">
                            <label for="id_name">Название организации</label>
                            <input type="text" class="form-control" id="id_name"
                                   name="name{{ forloop.counter }}"
                                   value="{{ exp.name|default:'' }}">
                        </div>
                        <div class="form-group">
                            <label for="id_sphere">Область работы (сфера)</label>
                            <select multiple class="form-control" id="id_sphere"
                                    name="sphere{{ forloop.counter }}">
                                {% for i in data.sphere %}
                                    <option value="{{ i.id }}"
                                            {% for cl_sp in exp.sphere %}{% if i.sphere_word  ==  cl_sp %}selected
                                            {% endif %}{% endfor %}>
                                        {{ i.sphere_word }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_position">Должность</label>
                            <input type="text" class="form-control" id="id_position"
                                   name="position{{ forloop.counter }}"
                                   value="{{ exp.position|default:'' }}">
                        </div>

                        <h3 class="edit-title">Период работы:</h3>
                        <div class="form-group">
                            <label for="id_start_date">Дата начала</label>
                            <input type="date" class="form-control" id="id_start_date"
                                   name="start_date{{ forloop.counter }}"
                                   value="{{ exp.start_date|date:"Y-m-d" }}">
                        </div>
                        <div class="form-group">
                            <label for="id_end_date">Дата окончания</label>
                            <input type="date" class="form-control" id="id_end_date"
                                   name="end_date{{ forloop.counter }}"
                                   value="{{ exp.end_date|date:"Y-m-d" }}">
                        </div>
                        <div class="form-group">
                            <label for="id_duties">Обязанности на рабочем месте</label>
                            <input type="text" class="form-control" id="id_duties"
                                   name="duties{{ forloop.counter }}"
                                   value="{{ exp.duties|default:'' }}">
                        </div>
                    </div>
                {% empty %}
                    {% include 'client/edit_forms/experience_empty.html' %}
                {% endfor %}
            </div>
            <div class="navigation-bar">
                <a class="btn-extra" href="{% url 'client_edit' %}">Назад</a>
                <button type="submit" class="btn-extra" id="save">Сохранить все данные</button>
                <input type="button" value="Добавить опыт работы" id="add_more" class="btn-extra">
            </div>
        </form>
    </div>
<style>
 .navigation-bar{
        margin-top: 10px;
        margin-bottom: 20px;
    }
.btn-extra{
        padding: 5px;
        margin-top: 10px;
        background: #213d4d;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s linear;
        border: none;
        font-size: 16px;
        font-weight: normal;
        outline:none;
    }
 .btn-extra:hover{
    background-color: #8D7171;
}
.edit-profile {
            height: calc(100vh - 255px);
            overflow: auto;
            width: 100%;
            padding-top: 20px;
            margin-bottom: 20px;
        }
  .edit-title{
        font-size: 22px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
    }
 .login-form {
            margin: 0 70px 40px;
            float: left;
            width: 60%;
        }
 .edu{
        margin: auto;
        float: none}
.form-group {
            margin-top: 15px;
            clear: both;
            text-align: right;
        }
 label{
            float: left;
            padding-right: 20px;
            color: #414141;
            font-size: 20px;
            font-family: open sans, sans-serif;
            font-weight: bold;
        }
 input{
        width: 298px;
        height: 28px;
        padding: 0;
        border: 1px solid black;
    }
select{
     width: 300px;
    height: 56px;
    padding: 0;
        border: 1px solid black;
}
</style>

{% endblock %}
