<div id="origin_div" >
    <h3 id="id_exp_h">Опыт работы</h3>
    <div class="form-group">
        <label for="id_experience_1">Название организации</label>
        <input type="text" class="form-control" id="id_experience_11" name="experience_11">
    </div>
    <div class="form-group">
        <label for="id_experience_2">Область работы (сфера)</label>
        <select multiple class="form-control" id="id_experience_2"
                name="experience_21">
            {% for i in data.sphere %}
                <option value="{{ i.id }}">{{ i.sphere_word }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_experience_3">Должность</label>
        <input type="text" class="form-control" id="id_experience_3" name="experience_31">
    </div>
    <h5 class="edit-title">Период работы:</h5>
    <div class="form-group">
        <label for="id_exp_date_start">Дата начала</label>
        <input type="date" class="form-control" id="id_exp_date_start" name="exp_date_start1">
    </div>
    <div class="form-group">
        <label for="id_exp_date_end">Дата окончания</label>
        <input type="date" class="form-control" id="id_exp_date_end" name="exp_date_end1">
    </div>
    <div class="form-group">
        <label for="id_experience_4">Обязанности на рабочем месте</label>
        <input type="text" class="form-control" id="id_experience_4" name="experience_41">
    </div>
</div>


