<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация|HR-System</title>
    <link rel="stylesheet" href="/static/client/style/registration-html-style.css">
</head>

<body >
<div class="login-plate">
    <div class="article">
        <img src="https://static.wixstatic.com/media/3e33b4_be193070b72743e2a0194222634bd2bf~mv2.png/v1/fill/w_79,h_71,al_c,q_80,usm_0.66_1.00_0.01/31-512.png"  >
        <div class="name" style="margin: 15px auto">
            <div class="hr-sys">HR-System</div>
            <div class="version">Сборка: 1.0</div>
        </div>
    </div>
       <!--логин-->
    <form action="/" method="post">
    {% csrf_token %}
    <div class="login-form">
        <div class="form-group">
          <label for="user" >Логин</label>
          <input type="text" class="form-control" id="user" name="user" style="text-align: center">
        </div>
          <!--пароль-->
        <div class="form-group">
          <label for="pass">Пароль</label>
          <input type="password" class="form-control" id="pass" name="password" style="text-align: center">
        </div>
    </div>
    <input class="reg-input" type="submit" value="Войти">
    </form>


    {% if error %}
        <h1>{{ error }}</h1>
    {% endif %}

</div>
</body>
</html>