.recruit_base {
    display: flex;
    justify-content: space-between;
    flex-display: row;
    padding: 25px 60px;
    height: 100%;
}

.client_rb {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.search_rb {

    border-radius: 5px;
    border:1px solid black;
    height: 50px;
    outline: none;
    margin-right: 5px;
    width: 100%;
}
.sb_small{
    border-radius: 5px;
    border:1px solid black;
    outline: none;
    cursor: pointer;
    background: #213D4D;
    color: #ffffff;
    text-decoration: none;
    transition: all .3s linear;
}

.sb_small:hover{
    color: white;
                background: #8D7171;
}

.advaced_search_b {
    background-color: rgba(33, 61, 77, 1);
    border-radius: 20px;
    padding: 50px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.rb_but {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    
}

.form_rb {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client_bl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-list{
    display: flex;
    justify-content: left;
    border: 1px solid black;
    border-radius: 5px;
    border-bottom: none;
    padding-left: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.header-list-p{
    font-weight: bold;
    margin-right: 10px;
}

.list-text{
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
}

.status{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
}

.card-link{
    background-color: rgba(33, 61, 77, 1);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
