body{
    background: #adc6f8;
    font-family: Sans-Serif;
}

.inbody{
    max-width: 100%;
    background: white;
    width: 150ch;
    min-width: 50%;
    margin: 0 auto;
    height: 98vh;
    border-radius: 8px;
    position: relative;
}
body{
    background: #adc6f8;
    font-family: Sans-Serif;
}

.inbody{
    max-width: 100%;
    background: white;
    width: 150ch;
    min-width: 50%;
    margin: 0 auto;
    height: 98vh;
    border-radius: 8px;
    position: relative;
}

.header-bar{
    background-color: #e8e6e6;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;


}

.logo{
      display: inline-flex;
      flex-direction:row;
      flex-wrap: nowrap;
  }

.hr-sys{
    font-family: Sans-Serif;
    font-size: 16px;
    color:#292929;
    font-weight: bold;

}

.version{
    font-family: Sans-Serif;
    font-size: 12px;
    color:#292929;
}

.text-bar{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background: #213D4D;
    width: 140px;
    height: 60px ;
    line-height: 60px;
    border-radius: 8px;
    text-align: center;
    transition: background .3s linear;
    position: relative;
}

.text-bar:hover{
    text-decoration: none;
    color: white;
    background: #8D7171;
}
.client-bar{
   display: inline-flex;
   flex-direction: row;
   align-items: center;
   width: 200px;
   padding-right: 40px;
}

.client-name-out{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logout{
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius:5px;
    color: white;
    background: #213D4D;
    text-align: center;
    transition: background .3s linear;
    text-decoration: none;
}

.logout:hover{
    text-decoration: none;
    color: white;
    background: #8D7171;
}

.content{
    height: calc(100vh - 240px);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 150ch;
}

.content img{
    margin: auto;
    display: block;

}

.footer-bar{
    background-color: #e8e6e6;
    width: 100%;
    max-width: 1334px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
    bottom: 0;

}

.text-footer{
    margin: 0 auto;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background: #213D4D;
    width: 130px;
    height: 50px ;
    line-height: 50px;
    border-radius: 8px;
    text-align: center;
    transition: background .3s linear;
    text-decoration: none;
}

.text-footer:hover{
    text-decoration: none;
    color: white;
    background: #8D7171;
}

div.wrapper{
    width: 90%;
    margin: 0 auto;
}
div.left_block{
  float:left;
  width:30%;
}
div.right_block{
  float: right;
  width: 68%;

}
.chat_block {
  background: #007e7e;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}
.chat_block:hover{
    background: #1bffdf;
}

.counter{
  top: 4px;
  right: 5px;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  font-weight: bold;
  width: 20%;
  height: 80%;
  color: white;
  text-align: center;
  background: #00a5fe;
  border: 0.5px solid black;
}
 .message_block_left {
      width: fit-content;
      margin: 0.25% 0.25% auto 2%;
      background: rgba(0, 176, 255, 0.1);
      color: #000000;
      padding: 10px;
      border-radius: 15px;
  }
  .message_block_right {
      width: fit-content;
      margin: 0.25% 0.25% 2% auto;
      background: rgba(0, 176, 255, 0.1);
      color: #000000;
      padding: 10px;
      border-radius: 15px;
  }
  .name_field {
      font-size: larger;
      justify-content: left;
      margin-left: 1%;
      text-align: left;
  }
  .message_field {
      margin-left: 1%;
      text-align: left;
  }
  .date_field {
      font-size: small;
      text-align: right;
      margin-right: 1%;
  }
