{% extends 'recruit/recruit_main_template.html' %}

{% block title %} Отзывы клиентов {% endblock %}

{% block content %}
    <div class="opinion-content edit-title">Отзывы клиентов
         {% for opinion in opinions %}
             <div class="single-opinion">
                 <h6 class="opinion-user">{{opinion.user}} <span>{{opinion.date}}</span></h6>
                <h2 class="opinion-title">{{opinion.title}}</h2>
                <h4 class="opinion-text">{{opinion.text}}</h4>
                {% if not opinion.answer.text %}
                    <a href="{{opinion.create_answer}}" class="btn-extra">Ответить</a>
                    <a href="{{opinion.admins_delete_opinion}}" class="btn-extra">Удалить</a>
                {% else %}
                    <h3 class="answer-text"><b>Ответ карьерного центра:<b></b><br>{{opinion.answer.text}}</h3>
                {% endif %}


             </div>
        {%endfor%}

    </div>

    <style>
    h2, h3, h4, h6{
        margin: 0;
    }
    .opinion-user{
        color: black;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 12px;
    }
    .opinion-user span{
        color: #4d4d4d;
        font-weight: 400;
        font-size: 11px;
    }

    .opinion-title{
        color: #333333;
        font-weight: 700;
        font-size: 29px;
        margin-bottom: 20px;
    }
    .opinion-text{
        color: #333;
        font-weight: normal;
        font-size: 23px;
        margin-bottom: 25px;
    }

    .answer-text{
        opacity: 0.8;
        font-weight: normal;
        font-size: 13px;
        padding-left: 20px;
    }

    .btn-extra{
        padding: 5px;
        margin-top: 10px;
        background: #213d4d;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s linear;
        border: none;
        font-size: 16px;
        font-weight: normal;
        outline:none;
    }
    .btn-extra:hover{
    background-color: #8D7171;
}
    .single-opinion{
        text-align: left;
        margin: 0 auto 20px;
        width: 60%;
        border-radius: 15px;
        border: 1px solid black;
        padding: 20px;

    }
    .opinion-content{
        padding-top: 30px;
        height: calc(100vh - 280px);
        width: 100%;
        overflow: auto;
    }
     .edit-title{
        font-size: 22px;
        font-weight: bold;
        font-family: "Arial", sans-serif;
    }
    </style>
{% endblock %}
