{% extends 'recruit/recruit_main_template.html' %}
{% block content %}
<form action="{{ applicant_user.get_add_client_task}}" method="post">
    {% csrf_token %}
    <div>

            <label for="task_title">Заголовок задачи:</label><br>
            <input type="text" name="task_title" id="task_title"><br>

            <label for="task_comment">Комментарий к задаче</label><br>
            <input type="text" name="task_comment" id="task_comment"><br>
            <label for="task_subtask1">Задать подзадачи</label><br>
            <div id="origin1">
                <input type="text" name="task_subtask1" id="task_subtask_q"><br>
            </div>
            <div class="put_here">

            </div>

            <input type="button" value="Добавить еще подзадачу" id="add_more_tasks">


            <input type="submit" value="Назначить задачу">

    </div>
</form>

<br><br>----ТЕСТ----<br><br>

    <form action="{% url 'pattern_task_url' %}">
        <input type="text" name="user_id" value="{{ client.id }}" hidden>
        <button type="submit">валера</button>

    </form>

<br><br>----ТЕСТ----<br><br>
<hr>


<button class="client_activ_tasks">Показать активные задачи пользователя</button>
    <div class="activ_tasks" name="activ_tasks" hidden>
        {% for tas in client_activ_tasks %}

        <button class="fortask" id="idfortas{{ tas.id }}">
            {{ tas.title }}
        </button>
            <a href="{{ tas.change_task }}">изменить</a>
            <br>

            <br>
             <div id="forsubtask{{ tas.id }}" hidden>
                {% for sub in tas.show_all %}
                    {{ sub.title }}
                 <br>
                {% endfor %}


            </div><hr>
        {% endfor %}

    </div>


<script>

        $(document).ready(function () {
            let count = 2;
            let tasks = $('.activ_tasks')

            $("#add_more_tasks").on("click", function () {
                let origin ='<div id="origin1"><input type="text" name="task_subtask'+ count +'"id="task_subtask_q"><br></div>';
                $('.put_here').append(origin);
                count++;
                console.log(count);
            });

            $('.client_activ_tasks').on('click', function () {
                if( tasks.is(":hidden")){
                    $(tasks).show()
                }
                else {
                      $(tasks).hide()
                }
            });

            $('.fortask').on('click', function () {
                let this_task = $(this).attr('id').slice(8)
                let task_id = 'forsubtask' + this_task
                let task_to_show = $('#' + task_id)

                if( task_to_show.is(":hidden")){
                       $(task_to_show).show()
                }
                else {
                      $(task_to_show).hide()
                }



            });



        });

</script>

{% endblock %}