{% extends 'recruit/recruit_main_template.html' %}
{% block content %}

Редактирование для {{ task}}, колво субтасков {{ sub_len }}
<br> пользователь {{ task.user.last_name }}
<form action="{{ applicant_user.get_add_client_task}}" method="post">
    {% csrf_token %}
    <div>
            <label for="task_title">Изменить заголовок задачи:</label><br>
            <input type="text" name="task_title" id="task_title" value="{{ task.title }}">
            <br>

            <label for="task_comment">Изменить комментарий к задаче</label><br>
            <input type="text" name="task_comment" id="task_comment" value="{{ task.comment }}">
            <br>
            <label >Изменить подзадачи</label><br>
            {% for sub in task.show_all %}

                <input type="text" name="subtask_{{ sub.id }}" id="task_subtask_q" value="{{ sub.title }}">
                <br>
            {% endfor %}
            <div class="put_here">

            </div>

            <input type="button" value="Добавить еще подзадачу" id="add_more_tasks">


            <input type="submit" value="Назначить задачу">

    </div>
</form>

<script>
    $(document).ready(function () {})
        let count = 2;

        $("#add_more_tasks").on("click", function () {
            let origin ='<div id="origin1"><input type="text" name="task_subtask'+ count +'"id="task_subtask_q"><br></div>';
            $('.put_here').append(origin);
            count++;
            console.log(count);
        });


</script>
{% endblock %}