{% extends 'recruit/recruit_main_template.html' %}

{% block content %}
<style>
.search{
    width: 60%;
}


</style>
<div class="search">
        <form class="form_rb" action="{% url 'favorites' %}">
            <input class="search_rb" type="search" name="recruit_search">
            <input class="sb_small" type="submit" value="Поиск">
        </form>
</div>

<div id="client-list" class="panel" style="width: 100%; height: 70%; border: 1px solid black; overflow-y: scroll;" onscroll="scroll(this);" >
  <div class="p-sm-5 pt-sm-1">
        <h2 class="mb-3 offset-md-0"> Избранные соискатели </h2>
        {% for applicant in applicants %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5><a href="{{ applicant.get_absolute_url }}" id="{{ applicant.id }}"> {{ applicant.user_client.first_name }} {{ applicant.user_client.last_name }}  {{ applicant.patronymic }}</a>
                        <input type="image" src='https://image.freepik.com/free-vector/_53876-25533.jpg' class="yellow_star" id="{{ applicant.id }}" style="width: 32px; height: 32px">
                    </h5>

                </div>
                <div class="card-body">
                    {% if applicant.cv_set.all %}
                        <b>Список резюме клиента </b><br>
                        {% for cv in applicant.cv_set.all %}
                            {{ cv }}<br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script>

    $('document').ready(function () {
        let recruit = {{ request.user.id }}
        $('.yellow_star').click(function () {
            let add = confirm("Вы точно хотите удалить пользователя из избранного?");
            let client = $(this).attr('id');
            x = $(this)

            if (add === true){

               $.ajax({
                    'url': '/recruit/checkfavor/',
                    'data': {'client': client,
                            'recruit': recruit},
                    success: function (data) {
                        console.log('data')
                        $(x).animate({
                        'opacity':'0.35',
                        });
                    }

                 });
            }
        });
    });

</script>
{% endblock %}
