{% extends 'recruit/recruit_main_template.html' %}
{% block content %}
<br>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="user_id" value="{{ client_id }}" hidden>
        <br>
        <select name="pattern_task">
            {% for pattern in pattern_tasks %}
                <option>{{ pattern.title }}</option>
            {% endfor %}
        </select>
        <br>
        <button name="form1" type="submit">Применить в качестве шаблона</button>
    </form>
<br>
<br>
{% if check == 1 %}
<form name="test1"  action="" method="post">
    {% csrf_token %}
    <div>
            <input type="text" name="user_id" value="{{ client_id }}" hidden>
            <label for="task_title">Шаблонная задача:</label><br>

            <input type="text" name="task_title" id="task_title"><br>
            <label for="task_comment">Комментарий к задаче</label><br>

            <input type="text" name="task_comment" id="task_comment"><br>
            <label for="task_subtask1">Заданые подзадачи</label><br>

            <div id="origin1">
                <input type="text" name="task_subtask1" id="task_subtask_q">
                <br>
            </div>

            <div class="put_here"></div>

            <input  type="button" value="Добавить еще подзадачу" id="add_more_tasks">

            <input name="form2"  type="submit" value="Назначить задачу">
    </div>
</form>
{% endif %}
{% if check == 2 %}
<form action="" method="post">
    {% csrf_token %}
    <div>
            <input type="text" name="user_id" value="{{ client_id }}" hidden>
            <input type="text" name="pattern_used" value="{{ task_id }}" hidden>
            <label for="task_title">Изменить заголовок задачи:</label><br>
            <input type="text" name="task_title" id="task_title" value="{{ task.title }}">
            <br>

            <label for="task_comment">Изменить комментарий к задаче</label><br>
            <input type="text" name="task_comment" id="task_comment" value="{{ task.comment }}">
            <br>

            <label >Изменить подзадачи</label><br>
            {% for sub in task.show_all %}

                <input type="text" name="subtask_{{ sub.id }}" id="task_subtask_q" value="{{ sub.title }}">
                <br>
            {% endfor %}
            <div class="put_here"></div>

            <input type="button" value="Добавить еще подзадачу" id="add_more_tasks">

            <input name="form2" type="submit" value="Назначить задачу">

    </div>
</form>

{% endif %}
<br>
<button class="client_activ_tasks">Показать активные задачи пользователя</button>
    <div class="activ_tasks" name="activ_tasks" hidden>
        {% for tas in client_activ_tasks %}

        <button class="fortask" id="idfortas{{ tas.id }}">
            {{ tas.title }}
        </button>
            <a href="{{ tas.change_task }}">изменить</a>
            <br>
            <br>
             <div id="forsubtask{{ tas.id }}" hidden>
                {% for sub in tas.show_all %}
                    {{ sub.title }}
                 <br>
                {% endfor %}
            </div><hr>
        {% endfor %}
    </div>

<script>
    $(document).ready(function () {
            let count = 2;

            $("#add_more_tasks").on("click", function () {
                let origin ='<div id="origin1"><input type="text" name="task_subtask'+ count +'"id="task_subtask_q"><br></div>';
                $('.put_here').append(origin);
                count++;
                console.log(count);
            });

            $('.client_activ_tasks').on('click', function () {
                let tasks = $('.activ_tasks')
                if( tasks.is(":hidden")){
                    $(tasks).show()
                }
                else {
                      $(tasks).hide()
                }
            });
    })

</script>
{% endblock %}