{% extends 'recruit/recruit_main_template.html' %}

{% block title %}
    Вакансии
{% endblock %}

{% block content %}
    <style>

    .vacancies-content{width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
    }
    .add-vacancies {
            margin: 0 auto;
            width: 200px;
            height: 20px;
            text-decoration: none;
            color: white;
            background-color: #213d4d;
            padding: 10px;
            border-radius: 5px;
            transition: all 0.3s linear;
        }

        .add-vacancies:hover {
            background-color: #8D7171;
        }

            #popup {
            height: 100%;
            width: 100%;
            background: rgba(179,179,179, .5);
            min-height: 100%;
            position: fixed;
            left: 0;
            top: 0;

        }

        .popup-content{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 700px;
            height: auto;
            background: white;
            opacity: 1;
            border-radius: 10px;

        }

        .close{
            position: absolute;
            top: -10px;
            right: -10px;
            text-decoration: none;
            width: 20px;
            height: 20px;
            background: #213d4d;
            color: white;
            border-radius: 50%;
            font-weight: bold;
            transition: all 0.3s linear;
        }

        .close:hover {
            background-color: #8D7171;
        }

        .login-form{
            margin: 0 70px 40px;
            float: left;
            width: 560px;
        }

        .form-group{
            margin-top: 15px ;
            clear:both;
            text-align:right;
            margin-top: 15px;
        }

        label{
        float:left;
        padding-right: 20px;
        color: #414141;
        font-size: 20px;
        font-family:open sans,sans-serif;
        font-weight: bold;
    }

    input{
        width: 170.23px;

    }

    textarea{
         width: 168.23px;
    }

    .content-title{
                font-size: 20px;
                font-weight: bold;
            }
    .btns-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 400px;
        margin:0 auto 50px;
    }
    .popup-btn{
        text-decoration: none;
        background: #213d4d;
        outline: none;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 5px;
        transition: all 0.3s linear;
    }
    .popup-btn:hover {
            background-color: #8D7171;
        }
    .comeback{
            margin-left: 50px;
            width: 100px;
            text-decoration: none;
            color: white;
            background-color: #213d4d;
            padding: 10px;
            border-radius: 5px;
            transition: all 0.3s linear;
        }

        .comeback:hover {
            background-color: #8D7171;
        }
    </style>
<div class="vacancies-content">
    <a class="add-vacancies" href="javascript:PopUpShow()">+ Добавить вакансию</a>
    <!-- Modal -->
    <div id="popup">
        <div class="popup-content">
            <a class="close" href="javascript:PopUpHide()">x</a>
             <h5 class="content-title"> Данные вакансии </h5>
            <div class="vacancie-info">
                <form action="{% url 'vacancies_url' %}" method="post">
                    {% csrf_token %}
                    <div class="login-form">
                    <div class="form-group">
                        <label for="id_position">Должность:</label>
                        <input type="text" class="form-control" id="id_position" name="position" required>
                    </div>
                    <div class="form-group">
                        <label for="id_salary">Уровень заработной платы:</label>
                        <input type="text" class="form-control" id="id_salary" name="salary" required>
                    </div>
                    <div class="form-group">
                        <label for="id_organization">Организация:</label>
                        <input type="text" class="form-control" id="id_organization" name="organization" required>
                    </div>
                    <div class="form-group">
                        <label for="id_address">Адрес:</label>
                        <input type="text" class="form-control" id="id_address" name="address">
                    </div>
                    <div class="form-group">
                        <label for="id_employment">Опыт работы и занятость:</label>
                        <input type="text" class="form-control" id="id_employment" name="employment">
                    </div>
                    <div class="form-group">
                        <label for="id_description">Описание:</label>
                        <textarea class="form-control" id="id_description" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_skills">Ключевые навыки:</label>
                        <input type="text" class="form-control" id="id_skills" name="skills">
                    </div>
                    <div class="form-group">
                        <label for="id_requirements">Требования к соискателю:</label>
                        <textarea class="form-control" id="id_requirements" name="requirements"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_duties">Обязанности:</label>
                        <textarea class="form-control" id="id_duties" name="duties"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_conditions">Условия работы:</label>
                        <textarea class="form-control" id="id_conditions" name="conditions"></textarea>
                    </div>
                    </div>
                    <div class="btns-footer">
                        <button class="popup-btn" type="reset">Очистить</button>
                        <a class="popup-btn" href="javascript:PopUpHide()">Закрыть</a>
                        <button class="popup-btn" type="submit" value="{{ vacancy.id }}" name="id_vac">Отправить</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- end Modal -->

    <div class="container">
        <div style="overflow: auto">
            {% for vacancy in vacancies %}
                <div class="card mb-5">
                    <div class="card-header">
                        <b>{{ vacancy.organization }}</b>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ vacancy.state }}</h5>
                        <p class="card-text"><b>{{ vacancy.salary }}</b></p>
                        <p class="card-text">{{ vacancy.description | truncatewords:20 }}</p>
                        <a href="{{ vacancy.get_absolute_url2 }}" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <a class='comeback' href="{% url 'base_url' %}">Вернуться</a>
</div>
<script>
$(document).ready(function () {
    //Скрыть PopUp при загрузке страницы
    PopUpHide();
});
//Функция отображения PopUp
function PopUpShow() {
    $("#popup").show();
    document.body.style.overflow = "hidden";
}
//Функция скрытия PopUp
function PopUpHide() {
    $("#popup").hide();
    document.body.style.overflow = "auto";
}
</script>
{% endblock %}
