{% extends 'recruit/recruit_main_template.html' %}

{% block title %}
    {{ vacancy.state }}
{% endblock %}

{% block head %}

    <!-- Bootstrap CSS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}

{% block content %}
    <div class="container">
        <div class="p-sm-5 pt-sm-1">
            <div class="card mb-5">
                <h2 class="mb-5">{{ vacancy.state }}</h2>
                <p>
                    <b>{{ vacancy.salary }}</b>
                </p>
                <p>
                    <b>{{ vacancy.organization }}</b>
                </p>
                <p>
                    {{ vacancy.address }}
                </p>
                <p>
                    {{ vacancy.employment }}
                </p>
                <p>
                    {{ vacancy.description }}
                </p>
                <p>
                    {{ vacancy.skills }}
                </p>
                <p>
                    {{ vacancy.requirements }}
                </p>
                <p>
                    {{ vacancy.duties }}
                </p>
                <p>
                    {{ vacancy.conditions }}
                </p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="{% url 'vacancies_url' %}" class="btn btn-secondary">Назад</a>
                    </div>


                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalVacancy">
                        Редактировать вакансию
                    </button>

                    <button data-toggle="collapse" class="btn btn-danger"
                            data-target="#del_vac{{ vacancy.id }}">Удалить
                    </button>
                    <form action="{{ vacancy.get_del_url }}" method="post">
                        {% csrf_token %}
                        <div id="del_vac{{ vacancy.id }}" class="collapse">
                            <h4>Вы уверены, что хотите удалить?</h4>

                            <button class="btn btn-danger" type="submit" name="id_vac"
                                    value="{{ vacancy.id }}">
                                Да
                            </button>
                            <button class="btn btn-success" type="button" data-toggle="collapse"
                                    data-target="#del_vac{{ vacancy.id }}">
                                Нет
                            </button>
                        </div>
                    </form>

                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-xl" id="ModalVacancy" tabindex="-1" role="dialog"
                         aria-labelledby="myExtraLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"> Данные вакансии </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form action="{{ vacancy.get_absolute_url2 }}" method="post">
                                        {% csrf_token %}
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label for="id_position">Должность:</label>
                                                <input type="text" class="form-control" id="id_position" name="position"
                                                       required value="{{ vacancy.state }}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_salary"> &nbsp; Уровень заработной платы:</label>
                                                <input type="text" class="form-control" id="id_salary" name="salary"
                                                       required value="{{ vacancy.salary }}"/>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="form-group">
                                            <label for="direction">Направление *</label>
                                            <select class="form-control" id="direction" name="direction" required>
                                                {% for direction in directions %}
                                                    {% if direction.id == vacancy.direction.get.id %}
                                                        <option value="{{ vacancy.direction.get.id }}" selected>{{ vacancy.direction.get }}</option>
                                                    {% else %}
                                                        <option value="{{ direction.id }}">{{ direction }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <br>

                                        <div class=" form-inline">
                                            <div class="form-group">
                                                <label for="id_organization">Организация:</label>
                                                <input type="text" class="form-control" id="id_organization"
                                                       name="organization" required
                                                       value="{{ vacancy.organization }}"/>
                                            </div>
                                            <div class=" form-group">
                                                <label for="id_address"> &nbsp; Адрес:</label>
                                                <input type="text" class="form-control" id="id_address"
                                                       name="address" value="{{ vacancy.address }}">
                                            </div>
                                        </div>

                                        <div class=" form-group">
                                            <label for="id_employment">Опыт работы и занятость:</label>
                                            <input type="text" class="form-control" id="id_employment"
                                                   name="employment" value="{{ vacancy.employment }}">
                                        </div>

                                        <div class=" form-group">
                                            <label for="id_description">Описание:</label>
                                            <textarea class="form-control" id="id_description"
                                                      name="description">{{ vacancy.description }}</textarea>
                                        </div>

                                        <div class=" form-group">
                                            <label for="id_skills">Ключевые навыки:</label>
                                            <input type="text" class="form-control" id="id_skills" name="skills"
                                                   value="{{ vacancy.skills }}">
                                        </div>

                                        <div class=" form-group">
                                            <label for="id_requirements">Требования к соискателю:</label>
                                            <textarea class="form-control" id="id_requirements"
                                                      name="requirements">{{ vacancy.requirements }}</textarea>
                                        </div>

                                        <div class=" form-group">
                                            <label for="id_duties">Обязанности:</label>
                                            <textarea class="form-control" id="id_duties"
                                                      name="duties">{{ vacancy.duties }}</textarea>
                                        </div>

                                        <div class=" form-group">
                                            <label for="id_conditions">Условия работы:</label>
                                            <textarea class="form-control" id="id_conditions"
                                                      name="conditions">{{ vacancy.conditions }}</textarea>
                                        </div>

                                        <div class=" modal-footer">
                                            <button type="reset" class="btn btn-secondary"
                                                    data-dismiss="all-form">
                                                Очистить
                                            </button>
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">
                                                Закрыть
                                            </button>
                                            <button type="submit" class="btn btn-primary" value="{{ vacancy.id }}"
                                                    name="id_vac">Редактировать
                                            </button>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Modal-->


                </div>
            </div>
        </div>
    </div>

    <script>
        /*$('document').ready(function () {
            var first = { first_flag }}
            var second = { second_flag }}
            if (first){$('#first').attr('hidden',false)}
            if (second){$('#second').attr('hidden',false)}*/


        /*actions for buttons*/
        /*$('.accept').on('click',function () {
            var id = $(this).attr('id');
            $.ajax({'url':'/client/accept_reject/',
                    'data':{'flag':'accept',"id_v":id},
                    success:function (data) {
                        console.log(data);
                        $('#first').attr('hidden', true)
                        $('#second').attr('hidden', false)
                    }})

        });
        $('.reject').on('click',function () {
            var id = $(this).attr('id');
            $.ajax({'url':'/client/accept_reject/',
                    'data':{'flag':'reject','id_v':id},
                    success:function (data) {
                        console.log(data)
                        $('#first').attr('hidden', false)
                        $('#second').attr('hidden', true)
                    }})

        });
    })*/

    </script>
{% endblock %}