<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

{% block head %}

{% endblock %}

<link rel="stylesheet" href="/static/recruit/style/style.css">
<link rel="stylesheet" href="/static/recruit/style/recruit_base.css">

    <title>{% block title %}Recruit{% endblock %} - HR-System</title>

</head>
<body>

<div class="inbody" >
        <header class="header-bar">
                                <a class="logo" href="{% url 'recruiter_url' %}" style="text-decoration: none; padding-left: 40px ">
                                    <div class="name" style="margin: auto; text-align: center">
                                        <img src="/static/recruit/img/31-512.png" style=" width: 60px; height: 53px ">
                                        <div class="hr-sys">HR-System</div>
                                        <div class="version">Сборка: 1.0</div>
                                    </div>
                                </a>


                                <a class="text-bar" href="{% url 'favorites' %}" > Избранное </a>
                                <a class="text-bar" href="{% url 'base_url' %}" id="clearnotif"> База <div class="counter" id="sug_count" hidden="true">{{ unread_suggestions }}</div></a>

                                <a class="text-bar" href="{% url 'recruiters_tasks_url' %}">Задачи</a>
                                <a class="text-bar" href="#">Отчеты</a>

                                <a class="text-bar" href="{%url 'contact_with_clients' %}"> Сообщения <div class="counter" id="mes_count" hidden="true"> {{ unread_messages }} </div></a>
                                <div class="client-bar">
                                    <a class="text-client" href="{% url 'recruit_profile' %}" >
                                        <img src="{{ recruit_img|default:'/media/user_1.png' }}"  height="75px" style="border-radius: 50%;" alt=""></a>

                                    <div class="client-name-out" >
                                        <h4 style="margin-bottom: 5px">Recruit</h4>
                                        <a class="logout" href="{% url 'logout' %}" >Выйти</a>
                                    </div>
                                </div>
        </header>

        <section class="content"  >

            {% block content %}
        <div style="height: 90%; overflow-y: scroll"> <!--TeamRome-->
        <img src="https://static.wixstatic.com/media/3e33b4_8434f559fcaa44a39ecfd54bf197fba5~mv2.png/v1/fill/w_750,h_350,al_c,q_80,usm_0.66_1.00_0.01/tild6162-3961-4262-b966-316166666133__lo.png" alt="">
        </div>
            {% endblock %}
        </section>

        <div class="footer-bar">
            <a class="text-footer" href="#">Настройки</a>
            <a class="text-footer" href="{% url 'clients_opinions' %}">Отзывы</a>
        </div>
    </div>


     


</body>
</html>
